[2012-10-09 00:12] jihoonl opened #1 "Error reporting for applications"
App status :
Installed. Available. Running. Error(e.g. invalid launch file, missing interface... )etc

[2012-10-09 02:08] jihoonl opened #2 "Check Ken's app finder"
Check how he hunts apps.

[2012-11-08 06:01] jihoonl opened #3 "improve points for interface"
The old interface required type of topic. No need for new gateway model.

[2012-11-08 06:45] jihoonl opened #4 "Test all malformed app/launch/interface files"

[2012-11-08 12:23] stonier commented on #3
You mean like the std_msgs/String type? It's curious - why does master sync need that? Also why does rostopic pub also need that when rosservice doesn't?

[2012-11-08 23:40] jihoonl commented on #3
With quick investigation, master sync actually does not use the type. It just grabs topic type using rosmaster api. So we may remove it.

rostopic pub needs topic type because rosmaster need to know what it is if a topic does not registered in rosmaster yet.
rosservice does not need it because there always be service server. rosservice command line is just a client.

[2012-11-09 01:46] stonier commented on #3
So logical, thanks for making me feel like a newb. One needs that every now and then ;)

[2012-11-12 01:45] jihoonl opened #5 "Interface file api"
Old interface file :

published_topics :
topic_name:topic_type

subscribed_topics:
same

New interface file :

publisher:
[topic_name ....]
subscriber:
[topic_name...]
service:
[service_name...]

[2012-11-12 01:49] jihoonl commented on #5
How should we deal with '/' in front of topic names

option :
1. automatically add or remove '/' when it is being parsed.
2. force user to put '/' for topics.

[2012-12-14 00:15] stonier opened #6 "Advertise Platform Info Instead of Flip"
Perhaps if we do this, we remove the need for a hub client in the concert client and the concert master.

[2012-12-14 02:38] stonier opened #7 "Simplify Concert Client - App Manager Relations"
It's a bit tricky, dicky.

[2012-12-14 02:42] stonier commented on #7
Clearly define ConcertClient's role and AppManager's role.

[2012-12-15 12:50] stonier opened #8 "Remapping with start app calls"
Conductor will send this information.

[2012-12-15 12:53] stonier commented on #2
I like ken's - he use a yaml with an array of apps defined. This lets you quickly comment out an app while testing/developing. Source directories dont let you do that (unless you use a blacklist maybe).

For searching any app, icon, launch reference is designated by a package-filename pair.

He just trawls every dir in `package` looking for `filename`.

[2012-12-15 12:55] stonier opened #9 "Draw square app"
Add this one - default for our turtle concert.

[2012-12-15 14:35] stonier opened #10 "Concert Clients and Concerts Flexibility"
They should be alot more flexible about the concerts they join.

Currently we make sure the gateway joins the concert hub (the concert master sets the hub name to be the same as the concert name).

We're not currently using a whitelist/blacklist for the concert client though. Might be in the code, but not currently launching with that specification anywhere.

[2012-12-16 03:28] stonier opened #11 "App manager class variables"
Avoid using class (static) variables in python classes unless they have special meaning that requires them to be static (e.g. class counter). It's kind of bad habit/practice.

Clean up AppManager.

[2012-12-16 04:52] stonier opened #12 "ConcertClient and AppManager Relationship"
First thought was about the app manager - eventually it shouldn't know anything about invitations or such. Just that it connects with some remote gateway enabled ros system, whether that is by command or by invite doesn't matter. This lets us handle both concerts and pairings.

[2012-12-16 05:51] stonier opened #13 "Move from source dirs back to app lists"
These were quite useful
- Faster than unnecessary crawling
- Avoids automatically including undesired apps
- Installed app lists are controlled by the app manager, not hand installs from the user
- Easy to comment out single apps while developing

[2012-12-16 05:52] stonier opened #14 "App Store Redesign"
We did it via ubuntu repos previously. This is probably still a valid target, especially now that we can build closed source debs.

[2012-12-16 06:09] stonier opened #15 "App Interface action functionality"
Currently only supporting pubsub, services, no actions.

[2012-12-16 06:23] stonier opened #16 "Move app code out of rocon_apps"
Currently putting some basic code in the rocon_apps package. Need to find a better place and have the core rocon_apps as just app 'metapackages'.

[2012-12-16 06:24] stonier opened #17 "Upgrade turtle_stroll"
Upgrade the code to be a more useful development tool
- Maybe implement an actions server like turtlebot_actions
- Make it compatible for simulation and real robots (better handling of platform quadruples)
- Make it runnable on real robots (need better motion planning).

[2012-12-16 07:13] stonier opened #18 "Subscriber flips not cleaned up properly when app stops"
Happens either with app manager dying, or stop app being called.

Probably because the node doesn't get time to receive the update() call from the remote master.

[code]

[2012-12-16 07:50] stonier commented on #18
Partially fixed by https://github.com/robotics-in-concert/rocon_multimaster/commit/ce0fe5e75a939163ba15a297640d315df6594bc8

It now stops ok, but app manager could use better unflip handling when stopping an app. That will have to wait until https://github.com/robotics-in-concert/rocon_multimaster/issues/102 is implemented.

[2012-12-16 07:52] jihoonl commented on #18
https://github.com/robotics-in-concert/rocon_multimaster/issues/128

[2012-12-16 09:04] stonier opened #19 "Apps uniquely named by name or pkg/name pairs?"
Old willow app manager used pairs, new one only using names.

[2012-12-16 09:48] stonier opened #20 "Depracate status field in msg/srvs"
Depracate StatusResponse.status and ConcertClient.status in favour of client_status and app_status fields.

[2012-12-16 09:57] stonier commented on #12
I think it will be far easier to composite the app manager inside the concert client. This gives the concert client far greater ability to pull required information from the app manager itself. Doesn't seem to be any reason to keep the actual nodes modular and the extra introspection isn't required. We'll never run concert client without the app manager and app manager won't care if it's run as a

[2012-12-16 10:01] stonier commented on #20
Useful to have both tri-state client mode and bi-state app modes. This is reflected in the new concert_msgs/Constant.msg string constants.
- Depracate the old status field
- Create app manager 'app' status fields
- Relay the information properly via the concert client status service.

Also related: #1 and #12.

[2012-12-16 10:18] stonier commented on #20
Forget this, we need a redesign here - api is really messy.

[2012-12-16 10:18] #20 closed, assigned to nobody

[2012-12-16 10:19] stonier commented on #12
Carefully redefine roles, especially the ros api they both present.

[2012-12-16 15:15] stonier opened #21 "Rapp platform requirements - lists"
Definitely needs wildcards - e.g. `linux.ros.*`, but could also use an array list, e.g.

[code]

[2012-12-17 01:05] stonier opened #22 "App Manager Init Timing Problem"
I think it's a timing problem - conductor is accessing the list apps service before the app manager has init'd everything.

[code]

[2012-12-17 01:48] stonier opened #23 "Remove forward slash for concert client keys"
Can't remove it directly - it bugs out on us.

So we've got really bad '/' hacks everywhere because of it. Remove this asap so it doesn't become a big job later.

[2012-12-17 03:56] #22 closed, assigned to nobody

[2012-12-17 21:45] stonier opened #24 "AppManager StartApp has Undefined Behaviour"
If an app is already running, it will just try to start another app anyway. If it's the same app, it clusters.

[2013-01-06 15:16] stonier commented on #9
done.

[2013-01-06 15:16] #9 closed, assigned to nobody

[2013-01-06 15:16] stonier commented on #8
Done.

[2013-01-06 15:16] #8 closed, assigned to stonier

[2013-01-08 17:18] stonier commented on #19
The package is unique. We should incorporate that.

[2013-01-08 17:39] #2 closed, assigned to nobody

[2013-01-08 17:42] #13 closed, assigned to nobody

[2013-01-08 17:42] #19 closed, assigned to nobody

[2013-01-11 00:53] stonier opened #25 "Multiple flipped subscribers failing"
Multiple flipped subscribers to `/turtles/race_start` are failing. Only ever one will get the first message. Some points:
- If you do a `rostopic pub /turtles/race_start` from the concert, then all three fire up.
- The `publisherUpdate` and `requestTopic` xmlrpc api is getting fired correctly
- A similar situation with two listeners and one publisher is working for gateways
  - This is working for

[2013-01-11 00:56] stonier commented on #25
At this point we can see a difference between the gateway listener/talker python test and the turtle_race_concert. Things to try in the turtle race concert:
- <del>Only two subscribers in `turtle_race_concert`</del>
- <del>Remove the namespace, `/turtles/start_race` -> `/start_race`</del>
- Create talker, listener apps and modify turtle_race_concert to suit
- Remove all other connections
- Run the

[2013-01-25 04:07] stonier commented on #25
Moved the issue to the [gateway](https://github.com/robotics-in-concert/rocon_multimaster/issues/136).

[2013-01-25 04:07] #25 closed, assigned to nobody

[2013-01-29 03:11] stonier commented on #6
Also move the message to rocon_app_manager_msgs since it is in the province of the app manager, not concert.

[2013-01-29 03:13] stonier commented on #6
Platform info msg/srv moved to rocon_app_manager_msgs:

cf99b11453e739f72db0542bb93a82c6f2856d2b
https://github.com/robotics-in-concert/rocon_msgs/commit/80e96a4f57166c782092d04759f1766c7ce01b24
https://github.com/robotics-in-concert/rocon_concert/commit/06e91d9d97bf89d0e37f8830309bb86c9b7a2bb0

[2013-01-30 06:56] stonier commented on #6
Also need list apps.

[2013-01-30 06:56] #6 closed, assigned to nobody

[2013-01-30 06:58] stonier commented on #6
https://github.com/robotics-in-concert/rocon_concert/commit/0ebc0f0e71947228ed1e6aed738b7938b338a8de

[2013-02-01 15:47] stonier opened #26 "Advertise remote control"
Could advertise this handle:
- Let remote systems pull it and try to control it.
- If the am is already busy, or 'claimed', just refuse requests.

Of course, have to worry about someone possibly spamming this one to death.

This could lead to a completely non-existant concert client.

[2013-02-01 15:48] stonier opened #27 "Better namespacing"
Might be far easier just to let robots and gateways generate anonymous names.

This removes any need for unique control at the hub, and also solves the complication of multi-hub unique identifiers.

If want to avoid ugly introspection at the concert workspace, we could get the conductor to manage some unique names for the concert and send a namespace along with the start app command.

[2013-02-01 15:49] stonier commented on #27
One difficulty with anonymous namespacing for the gateways - hard to whitelist/blacklist.

[2013-03-25 10:08] jihoonl opened #28 "Not found rapp"
app_manager crashes if rapps file contains invalid rapp, it crashes app manager.

It should warn the rapp description is invalid and continue to run.

[2013-04-08 02:28] stonier opened #29 "Pairing Mode"
New pairing mode using [gateway multihub](https://github.com/robotics-in-concert/rocon_multimaster/issues/28).

[2013-04-09 17:06] stonier commented on #24
This got fixed somewhere along the way.

[2013-04-09 17:06] #24 closed, assigned to nobody

[2013-04-09 17:07] stonier commented on #7
Duplicate of #12.

[2013-04-09 17:07] #7 closed, assigned to stonier

[2013-04-09 17:07] #3 closed, assigned to stonier

[2013-04-09 17:14] stonier opened #30 "Does stop_app need an argument?"
We limit to only one app at a time, so we probably don't need to specify the app name.

[2013-04-09 17:22] stonier opened #31 "Naturally stopping apps don't flag the manager"
Manager doesn't realise they've stopped.

[2013-04-09 17:25] stonier opened #32 "Stop app called on no app is not meaningful"
If no app is running, you get this back:

[code]

[2013-04-09 18:00] stonier opened #33 "Standalone app manager"
Not actually working right now, need an implementation for the lads at OSRF and also Jorge.

[2013-04-09 18:01] #33 closed, assigned to stonier

[2013-04-09 18:01] stonier commented on #33
Ros wiki tutorial for [Standalone App Manager](http://ros.org/wiki/rocon_app_platform/Tutorials/Standalone%20App%20Manager)

[2013-04-10 06:36] stonier commented on #27
New uuid based namespaces are in, but opening a new issue to remember to handle the whitelist/blacklist details.

[2013-04-10 06:36] #27 closed, assigned to nobody

[2013-04-10 06:37] stonier opened #34 "Whitelists/Blacklists with uuid names"
Need to improve whitelist/blacklist handling for these if they have uuid names.

[2013-04-11 00:03] #30 closed, assigned to stonier

[2013-04-11 00:03] #31 closed, assigned to stonier

[2013-04-11 00:03] #32 closed, assigned to stonier

[2013-04-11 01:08] stonier commented on #17
Postponing for now.

[2013-04-11 01:08] #17 closed, assigned to nobody

[2013-04-11 01:09] stonier commented on #11
Most of these have been cleaned, will attack the last couple over the next iteration.

[2013-04-11 01:09] #11 closed, assigned to stonier

[2013-04-11 01:10] stonier commented on #4
@jihoonl - care to provide some detail?

[2013-04-11 01:11] stonier opened #36 "App platform tests on jenkins"
Get some tests happening now we've got different groups relying on it, also move builds and tests to our nightly jenkins builds.

[2013-04-19 07:17] stonier commented on #29
- <del>Use gateway default advertisements rather than doing the hard work in app manager</del> 3cfe03cc07aae6b51b726dc68f0f98b7f28f3e24
- <del>Not deleting any old advertisements going from standalone to gateway mode</del>5330bab0a3ffcb37364ba42312ca79d9e4d19ea2
- <del>Talker flip is not using the application namespace.</del> 59f1381c00fe05780e037fafa099960ebdb9dd40
- <del>Old manager used some pa

[2013-04-22 00:43] #29 closed, assigned to stonier

[2013-04-23 07:01] jihoonl opened #38 "app doubly namespaced."
[code]

[code]

[2013-04-23 08:58] stonier commented on #38
Not an app manager problem - this is a gateway search and destroy problem.

https://github.com/robotics-in-concert/rocon_multimaster/issues/156

[2013-04-23 08:58] #38 closed, assigned to nobody

[2013-04-28 10:43] jihoonl opened #40 "rapp_manager dies when it fails to load app_lists"
If app_lists param get set as default value('') it crashes.

[code]

[2013-04-29 02:12] stonier commented on #40
Just a warning?

[2013-04-29 04:00] #40 closed, assigned to nobody

[2013-05-02 12:43] #18 closed, assigned to stonier

[2013-05-09 09:57] stonier opened #44 "Default namespace should be with start app"
More logical place for it and follows the original app manager as well.

[2013-06-19 23:22] stonier commented on #26
Not really sure what I was getting at here, reopen if I work it out.

[2013-06-19 23:22] #26 closed, assigned to nobody

[2013-06-19 23:23] stonier commented on #16
This is not urgent unless we want to build these as debs.

[2013-06-19 23:23] #16 closed, assigned to nobody

[2013-06-19 23:26] stonier commented on #15
Already supported by Jihoon: bc61df97a76a3626a2f9f9463073a0c1073d215b

[2013-06-19 23:26] #15 closed, assigned to jihoonl

[2013-06-19 23:30] stonier commented on #1
Reopen if necessary, what we have seems to be sufficient now.

[2013-06-19 23:30] #1 closed, assigned to stonier

[2013-06-21 01:58] stonier commented on #44
More logical, but not necessary for us, nor probably for the foreseeable future. KISS.

[2013-06-21 01:58] #44 closed, assigned to stonier

[2013-07-01 02:33] corot opened #48 "Can we avoid using application namespaces?"
As this namespace is forcefully different from the bootstrap namespace, creates a lot of remapping issues and makes our launch files ugly.

By other hand, there's not a clear reason to use them, apart from sandboxing the app.

[2013-07-04 08:50] bit-pirate opened #49 "rocon_app_manager/paired_private.launch: icon file path specification requires roslaunch style"
Where as (r)app list requires this new style (folder_name/file_name_without_ending).

Please use the same syntax.

(https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/launch/paired_private.launch)[https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/launch/paired_private.launch]

[2013-07-04 09:14] #49 closed, assigned to nobody

[2013-07-08 15:13] stonier opened #50 "Speed up gateway advertisements"
They're laborious right now - force updates.

[2013-07-08 15:14] stonier commented on #50
https://github.com/robotics-in-concert/rocon_app_platform/commit/104675c89048674bde04859560449bf25e608077

https://github.com/robotics-in-concert/rocon_msgs/commit/a2045bb74a9e54d2c9fd4d279d1f964efa4f7ce6

https://github.com/robotics-in-concert/rocon_multimaster/commit/07d60a9f9ba40653706932475280e1119e45f794

[2013-07-08 15:14] #50 closed, assigned to stonier

[2013-07-23 05:02] jihoonl opened #54 "Is this accepted?"
[code]

[2013-07-23 05:40] stonier commented on #54
Yep, test. Via param is much more convenient.

[2013-07-23 05:42] jihoonl commented on #54
Tested.

[2013-07-23 05:42] #54 closed, assigned to nobody

[2013-08-07 05:50] stonier commented on #48
We're sticking with the application namespace and fixing upstream to properly handle namespaces instead of hardcoding them.

[2013-08-07 05:50] #48 closed, assigned to nobody

[2013-08-07 05:52] stonier opened #57 "Passing --screen to started rapps"
Can we get the app manager to introspect itself so it can start rapps with the --screen argument if it itself has been started that way?

[2013-08-07 05:53] stonier commented on #57
Or possibly set an arg/parameter instructing the app manager to do so?

[2013-08-12 08:32] corot opened #58 "Sending parameters to pairing clients"
Android apps had harcoded topics names (only the app namespace is dynamic).

New app manager should fix this somehow, for example defining topic names on .rapp file.

[2013-08-13 05:56] stonier commented on #57
Roslaunch uses --screen configures the subprocess output pipes to stdout, stderror or log files and the subprocess itself (the app manager node), can't introspect on that.

Need to use something external like params.

[2013-08-13 07:27] stonier commented on #58
Yeah, it was in the old app manager actually, but not heavily used (or even supported?).

I'd like to configure the .rapp files to additionally send along params to the app. These can then be picked up by the android app to configure itself (of which naming topics is a part).

[2013-08-13 07:32] #57 closed, assigned to stonier

[2013-08-13 07:33] stonier commented on #57
Works from rocon_launch, but would be useful also having a private parameter to do this, so it can also be triggered from regular roslaunch.

[2013-08-14 00:35] stonier opened #59 "Flag for disabling uuid's."
These are annoying for many development scenarios.

[2013-08-14 05:22] stonier opened #60 "Private parameter for --screen on apps"
Similar to the `rocon/screen` parameter in #57.

Here use a private parameter for the app manager to trigger the same behaviour. This would then work for roslaunched app managers as well.

[2013-08-14 07:05] stonier opened #61 "Remapping corner case failing"
Example failure is with talker. Add a ns="dude" argument to `talker.launch`.

With `chatter` in talker.interface:

[code]

and without:

[code]

Looks like it's matching and trying to remap the arguments.

[2013-08-14 07:09] stonier commented on #61
'chatter' matches both `/app_manager/application/chatter` and `/app_manager/application/dudes/chatter` and will ultimately remap both. In this case the rapp manager maps it to a hard coded path at the root of the namespace so the dudes gets lost.

[2013-08-14 07:18] #61 closed, assigned to stonier

[2013-08-20 06:19] stonier opened #62 "Quietly abort rapp lists if not found"
Not sure if this does this already - check.

[2013-08-26 05:46] stonier opened #63 "Simpler pairing master invite"
At the moment its meant to be a simplified invite (don't need to add the namespace), but it's using the old invitation message with the namespace added, which is a bit misleading. Just use std_msgs/Bool instead.

[2013-08-26 11:12] stonier opened #64 "Flip robot descriptions"
This is probably quite practical for the paired setup, but not for the concert setup.

It's a parameter at the moment, but practically, it's pulling meshes from the filesystem, so you really need to be on the same system (or pulling from a known computer elsewhere?).

Some ideas:

* Just reproduce robot description as a param in public master (no good for concert).
* Flip params
* Use discoverable

[2013-08-29 04:28] #63 closed, assigned to stonier

[2013-08-29 04:46] stonier commented on #59
Closed by 56c2d32131ea1721182ae26ddcb7c4dcd461f7f1 and https://github.com/robotics-in-concert/rocon_multimaster/commit/2f1d6b70e24651beca721993cbc10d97c11b713f

[2013-08-29 04:46] #59 closed, assigned to stonier

[2013-08-29 04:48] stonier commented on #60
e283eb067a21bb0b1cc4300d65e412bbffd7a779

[2013-08-29 04:48] #60 closed, assigned to stonier

[2013-09-02 04:55] stonier opened #65 "Report name of running app in status api"
Currently just inform of the status of the app, running or not. Should return with the name of the app or none to imply running or not.

[2013-09-03 15:05] #65 closed, assigned to stonier

[2013-10-10 09:39] bit-pirate opened #66 "App manager and capability server integration"
Following up on https://github.com/osrf/capabilities/issues/2.

**TODO**
 * [x] implement pruning of available apps based on available capabilities
 * [x] implement starting and stopping apps
 * [x] implement remapping according to the capability interfaces
 * [ ] sync manual, concert and capability remappings
 * [ ] more to come

[2013-10-10 12:24] bit-pirate opened #67 "Handling installed and runnable apps"
The app manager currently only offers one `list_apps` services.
Now, that we start to differentiate between installed and runnable apps (see #66), we probably need to set up an addtional list and service for either the runnable or the installed apps.

Any preferences?

[2013-10-10 23:08] stonier commented on #67
Probably just cache it in the home directory like the old app manager did. Haven't implemented the actual installable feature yet though.

[2013-10-11 02:19] bit-pirate commented on #67
Internally there is already the differentiation of pre-installed and running app(s).

For not breaking compatibility with the rest of the rocon app platform we could only make the runnable apps appear in the `list_apps` services and rostopic. However, for semantic reasons I would prefer topics and services such as `list_runnable_apps` and `list_installed_apps`.

[2013-10-11 05:29] bit-pirate opened #68 "Shutdown app manager, if init fails"
Would like to shut down the app manager node if init fails.
Any objections (@stonier @jihoonl)?

[2013-10-11 05:34] bit-pirate commented on #67
I implemented my preferred solution in a first draft. However, this can be easily changed, if wanted.

[2013-10-11 07:49] stonier commented on #68
Questions
- Under what conditions does it fail?
- Why do you want to shut down the node?

[2013-10-11 08:02] stonier commented on #67
Hmm...changing the list apps publisher will break compatibility with the rest of the rocon app platform (I can't remember who is using the publisher and who the service, but potentially both or either android robot_remocon and conductor components will fail).

Note: AppList.msg is about running_apps, not runnable_apps. Just checking if there is a confusion there.

[code]

Question: do we need to d

[2013-10-11 08:49] bit-pirate commented on #67
The default service and rostopic names for retrieving available apps is
just labelled `~/list_apps` and `~/app_list`. So by that it's hard
to tell what kind of apps you get when calling that service/listening to
that topic.

I want to provide a `~/installed_apps` service/topic to allow
introspection - mostly for developers. This will help them to identify
their problems will setting up their own a

[2013-10-12 07:12] stonier opened #69 "Stable Hydro Branch"
From the last tag.

[2013-10-14 10:31] bit-pirate opened #71 "Speed up loading of rapps"
Currently loading 12 rapps takes over 5 seconds. Can this be done faster?

[2013-10-14 23:54] stonier commented on #71
You mean on startup when it scans the rapps?

That's a curiously long time just to read a 10 line text file...

[2013-10-15 00:24] bit-pirate commented on #71
Yes.

Indeed.

[2013-10-16 23:55] piyushk opened #72 "allow default starting an app in the app manager"

[2013-10-17 04:49] piyushk opened #73 "pass gateway base name and application namespace as args to rapp"
I don't see any harm in passing this information, and I can set tf_prefix for the rapp appropriately through a launch file argument.

[2013-10-17 04:55] piyushk opened #74 "allow changing default application namespace"
Refer https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L148

It'll be nice to change default_application_namespace to a parameter. It's nice to not push everything into the application namespace.

[2013-10-17 05:03] piyushk commented on #74
Never mind. Didn't realize that the application namespace was getting set during invitation.

[2013-10-17 05:03] #74 closed, assigned to nobody

[2013-10-17 06:12] #69 closed, assigned to jihoonl

[2013-10-17 13:17] bit-pirate opened #75 "How to remap topics using roslaunch"
I started looking into doing topic remapping - using roslaunch because that's how the app manager launches apps.

However, at this point I have no idea how to inject the new topic names. As far as I can tell remapping is done on the node level not roslaunch.

Need to find a convenient way how to do this.

@stonier @wjwwood any ideas?

[2013-10-17 15:58] stonier opened #76 "Remapping topic"
[code]

[2013-10-17 16:05] stonier commented on #76
Concert issue, not app platform

[2013-10-17 16:05] #76 closed, assigned to stonier

[2013-10-17 21:37] wjwwood commented on #75
To get a better idea of what the use case is, can you give an example of the scenario and what your would like to rename and why?

[2013-10-17 21:50] stonier commented on #75
ditto, bit unclear on your situation as well.

[2013-10-17 22:00] stonier commented on #73
We ran into a problem where passing the arg through the include tag generated by the app manager will raise an exception if the app launcher doesn't set an arg variable for that. See roslaunch code here:

https://github.com/ros/ros_comm/blob/hydro-devel/tools/roslaunch/src/roslaunch/loader.py#L126

[2013-10-17 22:34] piyushk opened #77 "use rospy.wallsleep instead of sleep"
See https://github.com/robotics-in-concert/rocon_multimaster/issues/191 for context.

[2013-10-17 23:44] bit-pirate commented on #75
I have to remap certain topics of an app to the topic names given by the capability specification. For example: An app publishes velocity commands on `/my_app/commands/velocity`, and the cap provider is listenening to `/cmd_vel`.

The app manager starts apps via roslaunch using it's Python API. So now I need to find ways to do those kind of remappings when starting apps - preferably using the same

[2013-10-17 23:56] wjwwood commented on #75
Maybe this is a naive question, but why doesn't the interface, provider, and app developer all use the same topic names?

For how to actually do the remapping, I'm not familiar enough with the internals of roslaunch to know how to effect that change. This is probably something I will have to do in the future to fully support semantic interfaces ability to remap things.

[2013-10-18 00:25] bit-pirate commented on #75
I agree that would be a simple solution, but we believe that will be difficult to enforce. The ROS systems out there run on different hardware, with different sets of programs (caps & apps), configured/programmed by different developers. Those developers might decide to/are forced to adhere to certain style/standard for there robots in terms of naming.

Ourselves (Yujin devs) might be a good/bad e

[2013-10-18 00:30] wjwwood commented on #75
I think part of the point of the capabilities is to decide on a best practice and make an interface that we can all agree on is the best sane default.

Sure, I'm not saying we shouldn't support it (we will have to have this ability to implement semantic capabilities), but I just don't want to use it as a crutch for letting everyone do different things. I think we should really encourage people (ro

[2013-10-18 00:33] bit-pirate commented on #75
I'm not sure we have to. ROS is create at being so flexible and giving developers a lot of freedom how to do things. The capabilities would give us the chance to forget about topic namings. Do you see potential problems/risk in that?

[2013-10-18 00:47] wjwwood commented on #75
It's not about having the freedom to do it, it's about readability and comprehension for me. Looking at a system which has a clearly defined interface which says `foo`, a robot which is actually providing `bar`, and an app which is looking for `baz` could get out of hand quite quickly.

To reiterate, I think it is vital for us to have this flexibility, but we should still strive to simplify things

[2013-10-18 01:02] bit-pirate commented on #75
Agreed. I think, those kinds of standards need further discussion, at some point with the ROS community. Once we have first full implementation of apps with caps working, we should do another hangout - maybe including few more who have already some experience with capabilities, e.g. fergs.

So back to the topic, how can we get this remapping happening? :-)

[2013-10-18 01:22] wjwwood commented on #75
No idea. I haven't had a chance to look into it.

[2013-10-18 09:03] stonier commented on #75
rocon_app_manager has some [example code](https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro/rocon_app_manager/src/rocon_app_manager/rapp.py#L217). In particular, note the following lines:

[code]

Probably need to do some experimenting with that...

[2013-10-18 09:28] bit-pirate commented on #75
After wandering a while through roslaunch's forest of classes and methods, I found that one as well. I have a working implementation for remappings looking similar to what you have posted. There are some caveats, but in general it looks like a feasible solution. I'll upload the code soon.

[2013-10-18 11:05] stonier opened #79 "Allow local controllers only"
Customisable parameter, false by default.

Check `remote_gateway_info` topic and compare local ip vs remote gateway ip.

[2013-10-18 11:23] bit-pirate opened #80 "app manager throws exception, when trying to stop a not running app"
Add a corresponding check.

[2013-10-18 11:54] stonier commented on #79
Updated chatter_concert and turtle_concert to use this:

https://github.com/robotics-in-concert/rocon_tutorials/commit/cc7893bd1a0a17d8f98d7741825677cd4d5f8a68

[2013-10-18 11:54] #79 closed, assigned to stonier

[2013-10-18 12:26] bit-pirate commented on #75
Here is the code: https://github.com/robotics-in-concert/rocon_app_platform/blob/capabilities_integration/rocon_app_manager/src/rocon_app_manager/rapp.py#L281

I'm considering this done. If there are issues with the current implementation or a better way to implement this is found, please open new issues (or reopen this one).

[2013-10-18 12:26] #75 closed, assigned to bit-pirate

[2013-10-18 12:57] stonier commented on #75
Just make sure you lose the debug prints before pull requesting, otherwise looks ok.

[2013-10-19 16:35] #72 closed, assigned to stonier

[2013-10-19 16:37] stonier commented on #80
What conditions led to this?

When trying to stop an app that isn't running I get:

[code]

[2013-10-19 17:25] #71 closed, assigned to stonier

[2013-10-19 17:28] stonier commented on #64
@piyushk you might be interested in this. We were thinking of sending the robot description as a standard part of the app manager (if it can find a robot description). Might be useful for concert mode as a default behaviour.

[2013-10-19 18:35] stonier commented on #62
It was ok, just gave a warning via an exception catch. Only problem was that it aborted further rapp list discovery.

[2013-10-19 18:35] #62 closed, assigned to stonier

[2013-10-19 18:35] stonier commented on #14
Too broad, add specific issues when we get there.

[2013-10-19 18:35] #14 closed, assigned to nobody

[2013-10-19 18:36] stonier commented on #4
No response forthwith, closing.

[2013-10-19 18:36] #4 closed, assigned to nobody

[2013-10-19 18:36] stonier commented on #5
This is old and has been dealt with appropriately to work the same as the way roslaunchers work.

[2013-10-19 18:36] #5 closed, assigned to nobody

[2013-10-19 18:38] stonier commented on #10
Gateway multihub and concert invitations gave this flexibility. Concert clients also got whitelists, blacklists and local remote controller options as well.

[2013-10-19 18:38] stonier commented on #12
Concert client is just a simple launch wrapper with configuration elements only now (no code).

[2013-10-19 18:38] #12 closed, assigned to stonier

[2013-10-19 18:38] #10 closed, assigned to stonier

[2013-10-19 18:40] stonier commented on #21
Better format is

[code]

[2013-10-19 18:41] stonier commented on #23
I think I did this - anyway the orchestra is disappearing, so reopen it if there are still issues.

[2013-10-19 18:41] #23 closed, assigned to stonier

[2013-10-19 18:43] stonier commented on #34
i.e. just want to add `['concert']` instead of the impractical `['concert3352352533fd23']` which would fail on next startup.

User just has to be aware that it will match any `concertXXX` value.

[2013-10-19 19:42] #77 closed, assigned to stonier

[2013-10-19 19:47] stonier commented on #73
Another way we could solve this is by:
-  When we construct each Rapp():
  - Parse the rapp launcher looking for global arg's
  - For each 'standard' arg found, we flag it in the Rapp class
- When we start the rapp, we modify the process for creating the start launcher
  - For each flagged arg, we write a line that pass in that arg to the include in the start launcher
  - For each non-flagged arg,

[2013-10-23 04:32] stonier opened #83 "Relays for Python Wireless Issues"
Python has no udp implementation, and I've heard that it just hangs when tcp wireless connections drop out. This is mostly, really bad for us. Test it.

The best solution for now would be to wire something into the app manager to setup relays.

[2013-10-25 07:36] jihoonl opened #84 "Paired master allowed two android access into one robot"
Sometimes it happens.

[2013-10-25 07:36] jihoonl opened #85 "self locked paired master"
Paired master sometimes does not allow any connection from tablet.

[2013-10-25 07:42] stonier commented on #85
Again, error messages when you can catch them in the future would be useful.

[2013-10-26 17:45] stonier opened #86 "App lifecycle introspection"
Is it possible for the app manager to know whether an app it has started has crashed?

Or should it just automtically revert to idle status when this happens?

Does it already do this?

[2013-11-06 12:29] stonier commented on #80
Closing this, reopen it with log information or reproducable instructions if you see it again.

[2013-11-06 12:29] #80 closed, assigned to stonier

[2013-11-06 12:31] stonier opened #88 "Standardise Icon/Platform Info"
Use the new messages from rocon_std_msgs.

[2013-11-06 12:42] bit-pirate commented on #80
Sorry for the late reply. Just checked this again and I found the cause of this being an addition of mine in the capabilities_integration branch. I fixed it there.

[2013-11-06 23:31] stonier opened #89 "Deprecate find_resource"
Deprecate this in favour of rocon_utilities' functions.

[2013-11-07 01:31] jihoonl commented on #88
All merged.

[2013-11-07 01:31] #88 closed, assigned to stonier

[2013-11-07 11:59] stonier commented on #89
https://github.com/robotics-in-concert/rocon_multimaster/commit/0a0af0004025b114d79c2582927321cc746fb36e

[2013-11-07 11:59] #89 closed, assigned to stonier

[2013-11-08 18:19] piyushk commented on #73
@stonier I agree.

I am working on this now, as it is required for our simulated concert demo. I only hacked in a solution earlier.

[2013-11-09 07:39] #73 closed, assigned to stonier

[2013-11-09 07:48] stonier opened #94 "Introduce -1 as a share variable option"
We would like to represent infinity shares for apps (e.g. chirp).

Let's do this properly using -1 as the representative symbol.
- Update the rocon messages to allow ints, not uints.
- Set a constant in rocon messages for INFINITY=-1
- Add some code logic to rapp_manager to validate the read variable (must be >= -1)
  - Provide a ros warning if this is broken, informing it has been ignored and set

[2013-11-09 10:42] #94 closed, assigned to stonier

[2013-11-10 12:18] stonier commented on #28
- [x] handle the case when the rapp is not found in the rapp lists (the .rapp file not found)
- [x] handle the case when the interface file is not found
- [x] handle the case when the launch file is not found

In all cases, it should 1) ignore the app, 2) provide a warning and 3) proceed to the next app in the rapp list.

[2013-11-10 12:30] stonier commented on #28
10497e9f8b61239ec26d2a9e0478fecfc9b18a15

[2013-11-10 12:34] #28 closed, assigned to stonier

[2013-11-10 13:27] bit-pirate opened #97 "Apply caps remappings to all nodes"
Thereby removing the requirement of manually specifying topics in the launchers.

Take a look how the (concert) interface remappings are applied.

[2013-11-10 13:28] bit-pirate opened #98 "Re-iterate on how to align concert, rapp and capability remappings"
Personal reminder. Will add details later.

[2013-11-11 11:32] stonier commented on #98
Personal reminder for me - I'm starting to lean fondly towards the slightly fugly relays for the few use cases where it's pertinent. I think we can do this in a transparent way when needed, but it's also necessary for alot of other cases.

[2013-11-14 08:56] bit-pirate opened #99 "Create GUI for the app manager"
We really could use a nice Qt interface for listing, starting and stopping apps.

Need to think about how to integrate this nicely, since this will be used in many different ways, e.g. (local) standalone, concert, paired master, Qt-only etc.

Biggest difference among the mentioned use case is the way the app manager is discovered. The actual interfacing should be the same for all case, i.e. use th

[2013-11-14 08:57] bit-pirate commented on #99
Make use of https://github.com/robotics-in-concert/rocon/issues/3.

[2013-11-15 09:26] stonier opened #100 "Stop app if uninvited"
Might already do this, but check that it does.

[2013-11-18 10:36] bit-pirate opened #101 "released rocon robot apps and android apps don't work with each other any more"
The ROCON Android apps, i.e talker and listener expect the topics to be namespaced following the `/<robot_name>/application/` naming scheme. However, the robot apps are now publishing under `/<robot_name>/`.

I'm tested the Hydro version of the Android apps together with the rocon_app_manager and rocon_apps both of version 0.6.1.

[2013-11-18 11:21] bit-pirate opened #102 "Auto-invite causes warning"
Setting "auto-invite" to true for the public master, leads to the following warning when connecting to the robot:

[code]

Not sure, if this is intended behaviour.

[2013-11-18 11:27] bit-pirate opened #103 "Non auto-invite removes application namespace"
Recently, my android-robot-apps-pairs stopped working, what was due to mismatching topics as described in issue #101.

However, the Android-robot-apps pairs are working for the TurtleBot and hence I started looking for the difference. One difference I found, is that I had the auto-invite for the public master turned off.

Turning this option on, somehow gets the application namespace added and the

[2013-11-18 11:27] bit-pirate commented on #101
The root cause for this issue might be #103.

[2013-11-21 04:21] jihoonl opened #104 "Recursive remapping rules when roslaunching"
detail will come soon

[2013-11-21 04:42] jihoonl commented on #104
While composing the teleop service, I tried to start android teleop app with  "android/virtual_joystick/cmd_vel" to "/robot_teleop/cmd_vel" remapping rule. However, it didn't remap and still "android/virtual_joystick/cmd_vel" was provided.

(written in rapp launch file)
teleop_velocity_smoother/raw_cmd_vel -> android/virtual_joystick/cmd_vel

(passed as /start_app arguement)
android/virtual_joysti

[2013-11-21 04:43] jihoonl commented on #104
This is node remapping configuration

[u'teleop_velocity_smoother/raw_cmd_vel', u'android/virtual_joystick/cmd_vel'],[u'teleop_velocity_smoother/smooth_cmd_vel', u'/cmd_vel_mux/input/teleop'],
[u'teleop_velocity_smoother/odometry', u'/odom'],
[u'teleop_velocity_smoother/robot_cmd_vel', u'/mobile_base/commands/velocity'], ('camera/rgb/image_color/compressed_throttle', '/robot_teleop/image_color/com

[2013-11-21 04:46] jihoonl commented on #104
It seems like roslaunch does not handle the chained remapping rule. So there should be a logic to handle chained remapping rule in rapp.py

To be clear, need a logic to handle

A -> B -> C   --------->   A -> C

[2013-11-21 23:43] jihoonl commented on #104
Note that the patch does not find root of the chain. Also triple chained topic would not get resolved. It requires smarter solution.

[2013-11-21 23:50] stonier commented on #104
Just recursing the function should do the trick no?

[2013-11-22 01:34] jihoonl commented on #104
recursive function would work with proper terminate condition.

[2013-11-25 02:41] jihoonl opened #106 "Flipping start_app/stop_app to not-invited concert"
When two concerts are available in the network, if a robot get invited by one, it flips start_app and stop_app to both concerts.

For example,

"OPP concert" and "Concert tutorial" are visible in the network. A robot get invited by "OPP Concert". However, start_app and stop are visible on both "OPP Concert" and "Concert Tutorial"

[2013-11-27 06:43] stonier opened #107 "Drop the artificial 'application' namespace"
Make @corot's life simpler - same behaviour for concert, pairing and standalone.

[2013-11-27 06:44] stonier commented on #107
4efee78d0d3c22b994a54984451bd07b881fb4fb

[2013-11-27 06:44] #107 closed, assigned to stonier

[2013-11-27 09:05] stonier commented on #106
Reproduced:
- Start Robot
- Start OPP Concert
  - Robot got invited by OPP Concert
- Start Concert Tutorial on a different PC
  - Robot got invited by Concert Tutorial
- OPP Concert called start app
- Robot flipped to Concert Tutorial

[2013-11-27 09:19] stonier commented on #106
App managers weren't ignoring new invitations when already remote controlled.

[2013-11-27 09:19] stonier commented on #106
d9f7c396b3564a6efceeb88255861e91fd41e602 - block the invitation. Still spammy though, on robot and concert sides.

[2013-11-27 09:21] stonier commented on #106
Closing this here as it identified the root cause and fixed it, but following up on tedious issues in #217.

[2013-11-27 09:21] #106 closed, assigned to stonier

[2013-11-27 09:26] stonier commented on #103
The application namespace for standalone mode got changed to match what was done in pairing. I suspect you were testing a long time ago in that standalone mode. This commit brought in a namespace underneath '/application' even in standalone.

e89bb6d05a041513f1aa39979696dacf6f6478b7

[2013-11-27 09:27] stonier commented on #102
The warning is, but I don't the repeat behaviour is.

[2013-11-27 09:29] stonier commented on #103
Hmm, more to this than that.

[2013-11-27 09:31] stonier commented on #103
Note, auto_invite is the paired_master.py script's parameter. Nothing to do with concert and conductor.

[2013-11-27 09:36] stonier commented on #103
Note, Marcus was using the robot remocon to invite the private master.

[2013-11-27 09:46] stonier commented on #103
Got it.

1) The paired master on auto-invite was relaying a SimpleInvite request with application namespace of '' (empty string)
2) Android was using the original Invite service and passing an application namespace that was the resolved  gateway namespace (hence no application tagged on the end).

This logic inconsistency came about when we introduced the auto-invite relay to hydro to make things

[2013-11-27 09:46] #103 closed, assigned to stonier

[2013-11-27 09:47] stonier commented on #101
Logic bug - see #103. They probably fail if hardcoded to look for application namespace and auto-invite is not on. Could fix this in android_remocons, but it will go away with hydro and no non-turtlebot users yet so won't worry unless someone from outside complains.

[2013-11-27 09:47] #101 closed, assigned to stonier

[2013-11-27 13:51] stonier commented on #101
For posterity, [this](https://github.com/rosjava/android_apps/blob/hydro/application_management/src/main/java/com/github/rosjava/android_apps/application_management/rapp_manager/InvitationServiceClient.java#L113) is where we would have to bugfix hydro...and then rebuild remocon and apps.

[2013-11-27 13:52] stonier opened #108 "Better notification when ignoring invitations"
Currently we've put this on logdebug. Would be good to catch an ignore, timestamp it and then put it on loginfo every so often.

[2013-11-27 13:53] stonier opened #109 "Error feedback for invitations"
Currently most of these return Unknown which should actually be not yet implemented error codes.

Concert invitations now need better feedback here.

[2013-11-27 14:16] #108 closed, assigned to stonier

[2013-11-27 14:30] #109 closed, assigned to stonier

[2013-11-27 14:32] stonier commented on #109
Also update to rocon_msgs here: https://github.com/robotics-in-concert/rocon_msgs/commit/9e276182ced15f87daae47341ae1713eb338b44b

[2013-12-04 12:07] stonier opened #111 "Put the platform compatibility check under runnable apps"
Currently it is done before creating the pre-installed list and only capabilities checking is done for runnable apps.

Works...but not terribly logical to future maintainers of the code.

[2013-12-04 12:26] stonier commented on #111
Some discussion at https://github.com/robotics-in-concert/rocon_app_platform/pull/110/files#r8092975

[2013-12-04 23:58] bit-pirate opened #112 "Review app manager's app categories"
Currently the app manager contains notions of _pre-installed_, _installed_ and _runnable_ apps.

We should review this and maybe redesign at some point.

[2013-12-06 02:19] stonier opened #113 "Warning->Info if no capability server present"
This will be quite a common occurrence, especially if it is a software node. @bit-pirate shall we reduce the warning to a less verbose info message for this specific situation?

[code]

[2013-12-09 05:05] bit-pirate commented on #111
Also related to #112 .

[2013-12-09 05:07] bit-pirate commented on #68
After reviewing this, I don't see the necessity any more to shut it down. I'll reopen this issues, if I can come up with a good use case.

[2013-12-09 05:07] #68 closed, assigned to bit-pirate

[2013-12-09 05:14] bit-pirate commented on #67
For now I made both the list of installed and runnable apps available. For backwards compatibility the runnable apps are accessable using the old service name `/list_apps` and the topic name `/apps_list`.

Once #112 is being worked on, we should revise this and decide on breaking backwards compatibility for the sake of better semantics.

[2013-12-09 05:16] bit-pirate commented on #58
@stonier What is the status on this? I remember working being done for this on the Android app side.

[2013-12-09 05:17] bit-pirate commented on #85
Is this still happening @jihoonl? If not, let's close this issue and re-open it, in case this error occurs again in the future.

[2013-12-09 05:18] bit-pirate commented on #84
Is this still happening @jihoonl? If not, let's close this issue and re-open it, in case this error occurs again in the future.

[2013-12-09 05:22] bit-pirate commented on #99
This is being work on here: https://github.com/robotics-in-concert/rocon_rqt_plugins/issues/10

[2013-12-09 05:22] #99 closed, assigned to bit-pirate

[2013-12-09 05:25] bit-pirate commented on #66
regarding _sync manual, concert and capability remappings_: https://github.com/robotics-in-concert/rocon_app_platform/issues/98

[2013-12-09 05:26] bit-pirate commented on #98
We also need to make sure that remapping works for manually starting app involving custom remappings.

[2013-12-09 05:46] bit-pirate opened #114 "Make use of the capability_server's reference counting"
To properly shut down apps, when its required capabilities go down.

See https://github.com/osrf/capabilities/pull/19 for more details.

[2013-12-09 05:50] bit-pirate opened #115 "Integrate nodelet support for capabilities and apps"
Implement nodelet manager support for capabilities on the app manager side. Changes required on the capability server side are already in place: https://github.com/osrf/capabilities/pull/31

[2013-12-09 05:51] bit-pirate commented on #115
Test this using turtlebot apps and make sure it solves this issue: https://github.com/turtlebot/turtlebot_apps/issues/48

[2013-12-09 05:56] jihoonl commented on #85
Haven't seen yet.

[2013-12-09 07:13] bit-pirate commented on #85
OK, closing this now. Reopen when you see it again.

[2013-12-09 07:13] #85 closed, assigned to jihoonl

[2013-12-09 11:54] bit-pirate opened #117 "Apply cap remappings to all nodes"
Instead of looking for an existing remapping as currently implemented: https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp.py#L310

This makes the implementation simpler and removes the requirement of adding placeholder remappings in the rapp's launchers.

[2013-12-10 08:17] #113 closed, assigned to stonier

[2013-12-10 09:45] stonier commented on #84
Yes, call me immediately if you see it happen.

I imagine this may have been from some indeterminate state that crashes on either side affected. In that case, we should make it robust anyway, but would need to see it or reproduce it.

[2013-12-10 09:45] #84 closed, assigned to jihoonl

[2013-12-10 09:46] stonier commented on #58
The merge of concert and pairing apps should enable this, but I need to test and verify it to understand what is there.

[2013-12-11 06:30] bit-pirate opened #119 "Add proper support for apps containing nodelet managers"
Apps containing own nodelet managers and nodelets being loaded into them are currently only supported when using absolute namespaces -> bad design!

Make the app manager handle these cases.

Follow-up of https://github.com/robotics-in-concert/rocon_app_platform/issues/115.

[2013-12-11 06:31] bit-pirate commented on #115
Looking into this I realised it's not a trivial issue, since there are multiple use cases:
1. App
   1. wants to load one or more of its nodelets into one or more of its own nodelet managers.
      - need to support this, since the nodelet manager's name changes when being started by the app manager (namespace!)
   2. wants to load one or more of its nodelets into one or more nodelet mangers being

[2013-12-11 06:33] stonier commented on #112
Going to forget about some notions from the old app manager here and work out what we need...

Q) Initial Rapp Lists: we need them to _seed_ the robot app library but where do they come from?
1. Local
2. Repository (meta-rapp repo)

There could be overlap. Some listed as being available locally, could also be in the repo. Distinguishing point - there may be rapps locally that can't be found in a r

[2013-12-11 06:33] stonier commented on #112
@bit-pirate your thoughts?

[2013-12-11 06:59] bit-pirate commented on #115
The TB follower app is a good example for case **1.ii.**. It starts up two nodelet's to be loaded into the mobile base's nodelet manager and one nodelet to be loaded into the rgbd sensor's nodelet manager.

Here is my current idea on how to handle this case:

For loading a nodelet into the nodelet manager of the right capability, we use the capability's name as a placeholder. Here is an example ho

[2013-12-11 07:21] stonier opened #120 "Update and fix app list handles"
Both topics are currently quieter than a  ...
- `/app_manager/app_list`
- `/app_manager/runnable_app_list`

Need to rethink how we publish these too. We need handles for:
- the final runnable filtered robot app library
- introspection of all filtered apps and why they were filtered

[2013-12-11 07:24] bit-pirate commented on #112
We could drop our rapp lists and use catkin's/package.xml's export feature and implement a discovery method based on that. With this approach we could say _local = installed_. Capability interfaces and providers use this approach.

So, on-the-fly/runtime installation of apps won't be support (yet)?

So, the app manager takes care of downloading and installing runnable, but uninstalled apps?

Good!

[2013-12-11 07:47] stonier commented on #112
1) :+1: to using package exports, whitelists and blacklists

2) on-the-fly installation is fine, can enable that with debs very quickly. The filtering should be done at startup, i.e. create an index of possible rapps discovered via local package exports, and repo url's. After that installation is just a matter of looking up this filtered index for installation details.

3) Yes, app manager takes c

[2013-12-11 07:58] stonier opened #121 "Use package exports for rapp lists"
Like nodelets, plugins and capabilities, use package exports to do the job instead of rapp lists.

Example discovery code (why is this nowhere in a generic ros package?):

https://github.com/osrf/capabilities/blob/master/src/capabilities/discovery.py#L123

Example package xml:

https://github.com/yujinrobot/kobuki/blob/hydro-devel/kobuki_capabilities/package.xml#L22

[2013-12-11 07:58] stonier opened #122 "Whitelist/blacklists for rapp lists"
Given we auto-discover what is installed and runnable, then use whitelists/blacklists to control it when we wish to.

[2013-12-11 07:59] stonier commented on #112
Closing this, work to do in #120, #121, #122.

[2013-12-11 07:59] #112 closed, assigned to bit-pirate

[2013-12-11 08:24] stonier commented on #121
Add a package indexing function: https://github.com/robotics-in-concert/rocon_multimaster/commit/86cc29e5caf70ab91964b753c8dd122e69359b65

[2013-12-11 08:32] stonier commented on #121
Ach....the hack we did for sharing robot applications fubars the idea. We embedded more information in the rapp list file.

Going to have to revisit this after the demo when we think about the shared app again.

[2013-12-11 10:06] bit-pirate commented on #112
What are the new categories?

[2013-12-11 10:11] stonier commented on #112
For now, just a single list of runnable apps. I'm not going to maintain any other lists, except what is sitting on a latched publisher `/app_manager/incompatible_app_list`.

In future, the `list_app` topic should expand to something like:
- `installed_apps[]`
- `available_apps[]`
- `running_apps[]`

but I'm not going to plot out something specific for this till we reinsert installation code.

[2013-12-11 10:38] #120 closed, assigned to stonier

[2013-12-11 13:50] stonier opened #124 "Rapp manager app list getting called before defined."
[code]

[2013-12-11 13:57] #124 closed, assigned to stonier

[2013-12-11 18:41] wjwwood commented on #115
For case 2, I think it is up to the robot developer to ensure capabilities can share nodelet managers by way of the provider implementations.

One other thought is that each capability server could set up one well known nodelet manager. There isn't a good reason to have more than one nodelet manager, other than fault isolation, that I can see.

[2013-12-12 00:12] stonier commented on #115
Fault isolation...and I'd also say ease of introspection. Nodelets can be a little perverse on a complicated robot sometimes.

I could work with both ideas...1) single capability nodelet manager, or 2) guideline for a capability's nodelet naming as marcus suggested (with 1 per capability).

Perhaps we could start simple with 1) and move to 2) if we start feeling like 1) is unduly limiting, uncomfo

[2013-12-12 00:22] bit-pirate commented on #115
AFAIK this can only be done by using absolute namespaces, which are sometimes hard to implement and maintain.

I  remember Daniel having weird issues with nodelets when they processed a lot of traffic. Increasing the number of threads solved it, if I remember right. Unfortunately, this number would be fixed, when using only one nodelet manager for all capabilities. Would setting a really high numb

[2013-12-12 00:52] wjwwood commented on #115
It depends, if the nodelets are using `getNodeHandle` then the number of threads you give the nodelet manager doesn't matter, because each nodelet gets its own thread. If the nodelets are using `getMTNodeHandle`, then those nodelets share a callback queue thread pool, which is affected by the number of threads you give the nodelet manager.

I don't think there is any risk of having a higher number

[2013-12-12 09:32] bit-pirate opened #126 "Fix timeout error handling for caps list init"
This is a reminder for myself to update the timeout error handling in the caps lists initialisation, once the follow-up changes of https://github.com/osrf/capabilities/pull/39 have been implemented.

[2013-12-12 09:49] bit-pirate opened #127 "Make usage of roslaunch's <required> tag standard for rapps"
All (r)apps we have developed so far require all nodes to be running and re-spawning dead nodes usually is not working.

Hence, I suggest we introduce the `<required>` tag in our rapp launchers to clearly shutdown apps, which misbehave. This would make it much easier for the app manager to track the status of apps.

Thoughts?

PS: The above has already been implemented in the capability server and

[2013-12-16 04:28] stonier opened #128 "Threadify start/stop apps"
These functions right now make service callbacks very expensive to the point where a conductor can't terminate before roslaunch catches up with it.

Put the work in threads and maintain some state for the app manager - starting, running, stopping, idle.

[2013-12-16 04:29] stonier commented on #128
Problem identified in https://github.com/robotics-in-concert/rocon_concert/issues/164

[2013-12-16 08:28] stonier commented on #111
Done in a45d5a937d724108b29cd70099f676fe83744a06

[2013-12-16 08:28] #111 closed, assigned to bit-pirate

[2013-12-16 10:30] stonier commented on #128
Hrm, do we want to do this...it's a massive change.
- Android, rqt, conductor, pairing all use this structure
- A non-blocking pub-sub service would be nice, but....
  - The conductor calls them in ros shutdown hooks - services, not pubsubs only work in this call.

[2013-12-17 23:43] bit-pirate commented on #128
Yes. I think, this would be a good addition as well.

Is it possible to move the shutdown sequence out of the shutdown hooks and add a _shutdown_ state to the conductor, in which it spins and sends out shutdown messages until all are received?

[2013-12-18 02:51] stonier commented on #128
Actually, the second shutdown problem is not a problem. The conductor is calling the invite service, which can stay the same - no problems there.

That means I can really try out the idea of a non-blocking pub-sub style service. People who want the response, can write a callback, or block themselves if they want to. If they don't want to wait for the response, they just send the publish command.

[2013-12-18 02:57] stonier commented on #128
That's generally what the conductor already does, but its hampered by the fact that the app manager's service callbacks which are trying to do alot of stop app work in their callbacks (thus blocking response to the conductor).

A short term hack would be to create a subscriber in the app manger that listens for uninvite requests and handles uninvites without blocking the other end (and without res

[2013-12-31 10:15] bit-pirate opened #132 "Add a screen output option to the app manager standalone launcher"

[2014-01-02 04:40] stonier commented on #132
Actually doesn't have a private parameter yet...just `/rocon/screen`.

[code]

Should it have a private parameter, or should we just re-use `/rocon/screen`?

[2014-01-02 09:13] #132 closed, assigned to bit-pirate

[2014-01-02 09:14] stonier commented on #132
Made a private parameter and launcher args in `standalone.launch`. You don't want a single app manager setting a global rocon parameter.

[2014-01-08 00:55] piyushk opened #133 "rapp launch file cannot be launched in root namespace"
I received this error while launching a rapp:

[code]

I wasn't planning on launching the app in the root namespace, but this probably needs to be fixed nonetheless.

[2014-01-14 09:44] stonier commented on #133
This is coming from https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp.py#L285

For some reason, your application namespace is getting set to be the empty string. How are you running the app manager in this situation?

This variable has two places that it could get set that I can see:

1) When initialised and there is no gateways

[2014-01-14 10:41] stonier commented on #102
With the new scheduler, not getting this warning any longer. Reopen if you see it again.

[2014-01-14 10:41] #102 closed, assigned to stonier

[2014-01-14 10:49] stonier commented on #128
A more direct answer - no we can't move the shutdown sequence. What we have is there explicitly to handle what happens when the concert receives a shutdown signal. At this point there is no regular ros environment anymore. All that is left is the last breath - the shutdown hook space.

The only possible alternative might be to include a non-ros connection (xmlrpc?) that doesn't require a ros maste

[2014-01-14 11:02] stonier commented on #128
https://github.com/robotics-in-concert/rocon_app_platform/commit/2c645128c4ef78e5025e8472c72cb740f992d858 nullifies an immediate need for threading everywhere, or the use of non-blocking service pairs. It doesn't do anything with start apps, and there isn't an urgent reason for speeding up the starting of a group by the scheduler, so avoid this complication for now.

[2014-01-14 11:02] #128 closed, assigned to stonier

[2014-01-14 14:31] piyushk commented on #133
The app manager wasn't able to retrieve the gateway name because of this bug: https://github.com/robotics-in-concert/rocon_multimaster/issues/242. I forgot to forward /clock to that gateway, and the app manager never came out of this line. https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L640

Your solution will fix

[2014-01-16 12:52] stonier commented on #133
With that last commit it now defaults to the same behaviour as when initialising without a gateway name, i.e. parameter ~robot_name.

[2014-01-16 12:52] #133 closed, assigned to stonier

[2014-01-16 23:39] stonier commented on #127
Good idea, will update the rapps in our current concert repos.

[2014-01-16 23:42] stonier commented on #100
Does..and it's threadified now (refer to 2c645128c4ef78e5025e8472c72cb740f992d858).

[2014-01-16 23:42] #100 closed, assigned to stonier

[2014-01-17 01:36] #127 closed, assigned to stonier

[2014-01-21 11:22] stonier opened #136 "Operating system and rosdistro sniffing"
App manager needs to do better than use `*.linux.ros`

Use rodep code to help with this.

[2014-01-21 11:24] stonier opened #137 "Meta-Rapps"
Rapps right now don't let you have multiple implementations of chirp.

For example, rocon_apps/chirp and turtlebot_apps/chirp are NOT the same thing in the small minded intelligence of the app manager.

From the resource scheduler's vastly superior intelligence though, chirp should be the same thing and requested/allocated as such.

Handle this by having a meta-rapp which defines the unique name,

[2014-01-24 06:32] bit-pirate commented on #137
I suggest to sync with the naming scheme we introduced for capabilities, that is a _capability_ consists of an _interface_ and one or more _providers_.

[2014-02-05 11:16] stonier commented on #137
Been doing some more thinking about this. Rapps will have bunny behaviour - they're likely to proliferate. It would also be a pain in the ass for someone just playing around with a simple rapp idea to have to develop both (remember rapp developers can be alot less knowledgeable about robot software than capability developers, they're also more likely to learn with rapps than capabilities).

## Ger

[2014-02-05 11:16] stonier commented on #137
@jihoonl, @bit-pirate, @piyushk, @jack-oquin any thoughts?

[2014-02-05 11:25] stonier commented on #136
9d9bc8db1277d6be0aa54e71da69b1cc6fc33ccf

[2014-02-05 11:25] #136 closed, assigned to nobody

[2014-02-05 11:26] stonier commented on #122
Doing this now by the package in 5fc36451c007e265267e0b080567e9c327f94758. Don't have a good reason right now to refine this listing down to the actual rapp level.

[2014-02-05 11:26] #122 closed, assigned to stonier

[2014-02-05 11:27] stonier commented on #121
Handled in pull request #134

[2014-02-05 11:27] #121 closed, assigned to stonier

[2014-02-05 12:30] jack-oquin commented on #137
If requests always specify virtual rapp names, do clients always declare the virtual names, or is there an implied look-up step to resolve them when a client enters the concert?

[2014-02-06 00:40] stonier commented on #137
The conductor will get all the info - implementation rapp name as well as top-most parent rapp name (to be technically correct with the above, that won't always be virtual). I was thinking the conductor should just advertise the top-most parent name. There is no reason for the concert (as yet) to have the exact implementation name.

[2014-02-06 00:45] bit-pirate commented on #137
Developing a capability (in terms of specification) has little to no overhead compared to the above suggestion. I'm in favour of using the naming used for capabilities to make it simpler to understand - also shows the close connection of both.

Independent from the above, I'd say there is no strong need to actually differentiate _Virtual Rapp_, _Implementation Rapp_, _One-Shot Rapp_. As far as I u

[2014-02-06 01:30] stonier commented on #21
Done in the rocon uri updates.

[2014-02-06 01:30] #21 closed, assigned to stonier

[2014-02-06 01:47] jack-oquin commented on #137
+1 Capabilities seem attractive to me.

Does [this wiki page](http://wiki.ros.org/capabilities) reflect the current design?

A rapp seems to embody the notion of a mobile robot of a certain type that can run a specific launch file. If that can be expressed using capabilities, it could simplify the user interface while making it more powerful. That is not often possible when making design trade-off

[2014-02-06 01:48] stonier commented on #137
I agree, it's not much overhead to make interface and implementation for every rapp, but that work does start to multiply - two separate repositories, indices, etc. So is it necessary? Also the rapp developer will often not be as seriously dedicated as the capability developer. Capabilities are also a bit more complex - they have semantics and capability dependencies to handle that rapps don't nee

[2014-02-06 02:23] stonier commented on #137
Should be close. It's not yet quite the finished product but not far off.

Are you talking about the public interface it dumps in the concert? i.e. instead of individual pubs/subs/services/actions, grouped collections like the capabilities represent?

Right now the capabilities are just intended as a way of writing rapps in a much simpler way. They're not exposed to the concert at all. The same de

[2014-02-06 02:58] jack-oquin commented on #137
I don't really understand the capability design.

I am imagining a language for expressing the things individual devices can do, like the fact that a robot with a camera can "take a picture", while one without cannot. One with an arm can "pick up an item", etc. That seems more complex than a rapp, but presumably includes its semantics as a subset.

The question is whether the additional semantic p

[2014-02-07 06:38] jihoonl opened #138 "rapp nesting conflicts"
![img_20140207_151935](https://f.cloud.github.com/assets/1556736/2107190/53c55c30-8fc2-11e3-9833-0ab1edf1f7e1.jpg)

[2014-02-07 07:01] stonier commented on #137
I am generally feeling that way too. Would love to have a serious design discussion with a few different parties about how resources should be presented at concert level. However the rapps have too much momentum right now, and they work, even if sometimes that means writing a new rapp - at least there is not much code duplication since a rapp mostly recycles the same nodes.

On the plus side, it's

[2014-02-07 07:52] bit-pirate commented on #137
Capabilities are the very basic thing a robot (or device) can do, such as _camera_ -> provide an image stream. There is not clear separation between applications and capablitites, e.g. currently navigation is an app, but it can also be seen as a capability. Our expectation is, that (in the ROS world) we start with a small set of simple and commonly used capabilities, such as _mobile base_ (also dr

[2014-02-07 15:19] jack-oquin commented on #137
There is considerable conceptual overlap. You all have more experience than I do about where to draw the line.

My current view of rapp scheduling is simple: each client declares a set of rapps that it can run; and each request specifies a specific rapp. While the client is assigned to the request, it is dedicated to running that rapp. When the request is closed, the client is available again for

[2014-02-10 00:18] jihoonl opened #139 "Rapp Module"
Need a rapp version of rospack script which indexes(or caches) all rapps in ROS_PACKAGE_PATH, introspects, and resolves full specification of nested rapps.

[2014-02-10 00:31] jihoonl commented on #138
While discussing rapp specification version 2 which allows to inheritance between rapps, there were three conflicts which need to be addressed.
- What if AM has two implements of 1 parent specs?
- Cyclic Rapp dependencies
- ABI guidelines if parent rapp spec changes

[2014-02-10 00:39] stonier commented on #139
This needs to be a module since it will be used by various users.

Initial goal:

Initial requirement spec for this module (no work about the app manager here - lets use a separate issue for that):
- _rocon_app_utilities_: a new package for supporting classes/functions
- Creation of an index of rapps from the package path.
  - This should probably be like a dictionary of rapps, indexed by rapp res

[2014-02-10 00:43] stonier opened #140 "Rapp manager use new rapp module"
Use #139 to advertise abstracted rapps to the concert.

[2014-02-10 00:44] stonier commented on #140
Don't think we even need to change Rapp.msg here, just replace the resource name with the topmost parent name.

The only reason for adding the extra information would be for introspection at this stage.

[2014-02-10 02:06] jihoonl commented on #140
Do you mean Rapp.msg this(https://github.com/robotics-in-concert/rocon_msgs/blob/hydro-devel/rocon_app_manager_msgs/msg/App.msg)?

[2014-02-10 05:41] stonier opened #141 "Rapp Index Viewer"
Tossing this idea around right now - might be useful to have a viewer for the rapp tree. Ascii tree, dotgraph generator, or rqt dot plugin?

[2014-02-10 06:03] jihoonl commented on #139
- Jack's scheduler requests has a good example of setting up a custom 'dict'.

Link please
- Should start/stop app functionality be in the rapp class api?
  - I am thinking no, but undecided. Would be yes if there were other users other than app manager wanting start/stop functionality. If not, then keep that code in the app manager.

I like the idea of making rapp independent from app manager and

[2014-02-10 06:05] jihoonl commented on #139
Started document here.

https://github.com/robotics-in-concert/rocon_app_platform/tree/rapp_module/rocon_app_utilities

[2014-02-10 11:37] stonier commented on #140
Yes.

[2014-02-13 04:51] jihoonl opened #143 "factor out capability from rapp_manager and put them into rapp"
Capability is internal feature of rapp. It should not do anything with rapp manager.

[2014-02-13 04:57] jihoonl commented on #139
Rapp module should be factored out from rocon_app_manager and have an independent package. To avoid cross dependency between rapp manager and rapp utility.

This kind of dependency tree may be better.

https://docs.google.com/a/yujinrobot.com/drawings/d/1Con2-9SgKET2OosXAGVCSYkkx-Tu1AMTQ2NlomWzIMw/edit

[2014-02-13 07:12] jihoonl commented on #137
pairing_client should be in meta rapp? or implementation rapp?

https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_apps/apps/talker/talker.rapp#L7

[2014-02-13 11:07] stonier commented on #137
pairing client should be a meta-variable since it communicates across only the rapp's public interface.  Ideally this should become a list of compatible applications for pairing.

I have a thought though that pairing functionality should someday move to rocon interactions because that is where we will do human authentication, but that day is quite a ways off.

[2014-02-17 00:27] bit-pirate commented on #143
Cant follow you. The rapp manager needs some minimal capability management, i.e. communicating with the capability server and tracking the status of the caps. What exactly do you want to factor out?

[2014-02-17 08:05] jihoonl commented on #139
Redmine updates about rapp spec.

http://redmine.robotconcert.org/projects/opp/wiki/Rocon_Apps

[2014-02-17 09:27] jihoonl opened #144 "rename interface in .rapp to public_interface"

[2014-02-18 02:09] bit-pirate commented on #144
Please point out the files/folder needing to be updated.

[2014-02-18 02:13] stonier commented on #144
I think this is coming from the conversation we had in #137 where I referred to `public_interface` and we had some discussion on that. Looks like I am mistaken in thinking that was labelled `public_interface` as the .rapp files themselves currently just refer to it as the `interface` (e.g. [chirp.rapp](https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_apps/apps/chirp

[2014-02-18 02:16] jihoonl commented on #144
`public_parameters` becomes `parameter` as well?

[2014-02-18 03:16] stonier commented on #139
What's the difference between rocon_app and rocon_app_utilities? I was imagining rocon_app_utilities as the rocon_app module. Can't see a reason for both rocon_app and rocon_app_utilities.

[2014-02-18 10:55] stonier commented on #144
What the hell, since we're changing things anyway, let's move to `public_interface` and `public_parameters`.

[2014-02-18 10:58] stonier commented on #143
It very much is part of the rapp manager as
1. there is currently no generic way of specifying capability dependencies inside a launcher
2. the rapp manager uses the capability specification to determine whether the rapp is runnable before running it.

1) can be solved in a roundabout way by having a node that handles the capability part by inserting that node with the appropriate parameters into

[2014-02-18 10:58] #143 closed, assigned to nobody

[2014-02-19 06:56] jihoonl commented on #139
I was thinking of making rapp module more independent from rapp_manager to prevent cross importing between rocon_app_utilities and rocon_app_manager package. rocon_app_manager will use rocon_app_utilities in the future meanwhile rocon_app_utilities needs some nice functions in rocon_app_manager/rapp.py.  Also cross-referencing is bad software design.
So I wanted to I wanted to factor out rapp clas

[2014-02-19 07:42] jihoonl opened #145 "develop rapp indexer testing set"
To obtain the format of index-ed rapp and to test out whether indexer generates correct output.

The test set should include corner cases.

[2014-02-20 00:32] jihoonl commented on #145
https://github.com/robotics-in-concert/rocon_app_platform/blob/rapp_module/rocon_app_utilities/doc/test_cases.rst

Test cases updated.

[2014-02-20 09:10] jihoonl commented on #139
Some information on redmine is updated. Question.

I think `paired_clients` is optionally inheritable and `required_capability` is overridable.  What's your opinion?

http://redmine.robotconcert.org/projects/opp/wiki/Rocon_Apps

[2014-02-20 12:10] stonier commented on #139
Yeah, I can see `rocon_app_manager/rapp.py` almost disappearing. But worry about that later, indexer first, app manager second, possible command line tools and caching third, app repositories fourth. One bite at a time.

|  I thought it would be funny that 'utility' package contains core module.

Yeah, I only suggested utilities for lack of anything better. An indexer isn't really core though...it

[2014-02-20 12:28] stonier commented on #139
Those two tables you made make things much clearer. Looking at them I realised the inheritable and overridable definitions are redundant. Going to the top most parent for `public_interface` and `public_parameters` is actually the same as the nearest since only a top most parent may have those variables.

So I deleted the second table (the variable) and superscripted the fields on the first table w

[2014-02-20 23:44] jihoonl commented on #139
indexer api

http://192.168.10.129/rocondoc/rocon_app_utilities/html/indexer.html

[2014-02-23 04:01] stonier opened #146 "Rapp Upgrades - public interface needs to specify types"
Our public interface specification for a rapp shows no type (e.g. std_msgs/String) - very important for introspection by service so they know what ros api to use to communicate with a rapp resource.

[2014-02-23 23:54] stonier commented on #145
:+1:

[2014-02-24 05:24] jihoonl commented on #139
Redmine specs has been ported to rst.

https://github.com/robotics-in-concert/rocon_app_platform/blob/rapp_module/rocon_app_utilities/doc/rapp.rst

[2014-02-25 00:54] jihoonl commented on #139
https://github.com/robotics-in-concert/rocon_app_platform/commit/0352576861a0a269ffb87595b05cfe40ff2e44b2#diff-575c178e63d10d0eb73ca65424903e6eR76

parent_specification and public_interface are mutually exclusive?

[2014-02-26 00:17] stonier commented on #139
Yes. Children should absolutely never override public_interface/public_parameters.

[2014-02-26 01:18] jihoonl commented on #139
The old rapp implementation used to allow not to have public_interface. Is this still true?
Or should we force all rapps to have required fields?

[2014-02-26 04:21] stonier commented on #139
Certainly, even for the ancestor, empty public_interface and public_parameters is permissable. Exact use case requirement: `rocon_apps/chirp`.

[2014-02-26 06:23] jihoonl commented on #139
With that means, public_interface and public_parameters are optional.

[2014-02-26 07:14] stonier commented on #139
Yes.

[2014-02-26 07:21] jihoonl commented on #139
How about display and description? do they need to be `required`?

[2014-02-26 07:52] jihoonl commented on #145
https://github.com/robotics-in-concert/rocon_app_platform/commit/9b4564a42255e929aa2d516e7cb66355ac89a399

[2014-02-26 08:09] stonier commented on #139
I would prefer to force the user to fill these out in ancestor rapps otherwise everyone will be lazy and introspecting will be messy or useless.

[2014-03-03 04:08] jihoonl commented on #144
resolved by pullrequests.

[2014-03-03 04:08] #144 closed, assigned to jihoonl

[2014-03-06 06:57] bit-pirate opened #149 "Invalid platform type kills app manager"
[code]

Instead that invalid rapp should just be ignored.

[2014-03-06 08:36] stonier commented on #149
Hit me tomorrow - something odd on your implementation. Mine isn't dying with the same error.

[code]

[2014-03-06 08:37] stonier commented on #149
Maybe that's the only rapp on the ros package path?

[2014-03-07 00:40] bit-pirate commented on #149
Nope.

In my case a created a rapp and specified the compatibility as `rocon:/lalala|turtlebot`.

[2014-03-09 23:35] stonier commented on #149
Show me it running sometime...certainly not seeing that behaviour on my machine.

[2014-03-10 05:17] #149 closed, assigned to nobody

[2014-03-14 11:16] bit-pirate opened #151 "App with invalid app name gets wrongly identified"
Requesting the start of an app with an invalid name leads to wrong identification as installed, but not runnable. See error logs below:

App manager:

[code]

Client:

[code]

[2014-03-14 11:27] bit-pirate commented on #151
PR #152 contains a fix. @stonier please review and merge, if satisfactory.

[2014-03-14 11:48] stonier commented on #151
Good catch.

[2014-03-17 08:23] jihoonl opened #153 "Rapp indexer API"
@stonier

Initially designed APIs of Rapp indexer. Any comment?

http://192.168.10.129/rocondoc_dev/rocon_app_utilities/html/indexer.html

[2014-03-17 08:30] stonier opened #154 "Rapps cannot use resources outside of their own package"
For example, icons can't be pulled from another package like `rocon_bubble_icons`.

[code]

[2014-03-18 00:24] #154 closed, assigned to stonier

[2014-03-18 01:30] #151 closed, assigned to stonier

[2014-03-18 01:59] bit-pirate commented on #126
Currently implemented in 36a65ea9fdac6af5c347945232f6a1ecaf9edcac

Will close this issue once this is merged into hydro-devel.

[2014-03-19 02:30] stonier commented on #153
Don't have a public use case for the `get_rapp` right now (but its getting used in testing and may be useful for something in the future). Let's just change the public api terminology so the obvious is the one that is for public consumption, e.g.
- `get_complete_rapp` -> `get_rapp`
- `get_rapp` -> `get_raw_rapp`
- `get_compatible_rapps` -> drop the `implementation_only` flag (can't think of a use

[2014-03-20 04:41] jihoonl commented on #138
Throws exception RappAncestorConflictException.
- Cyclic Rapp dependencies

Throws RappCyclicChainException
- ABI guidelines if parent rapp spec changes

To be considered when we hit this problem. Not an issue for now.

[2014-03-20 04:41] #138 closed, assigned to nobody

[2014-03-20 04:44] jihoonl opened #158 "Visualising a rapp index"
Implement RappIndexer.to_dot()  functionality to visualise relations of rapps.

[2014-03-20 05:51] jihoonl commented on #145
Rapp indexer as well as rapp test cases are implemented here.

https://github.com/robotics-in-concert/rocon_app_platform/tree/rapp_module/rocon_app_utilities/tests

[2014-03-20 05:51] #145 closed, assigned to jihoonl

[2014-03-20 07:48] jihoonl commented on #140
The following points are discussed
- Merge rocon_app_manager.Rapp and rocon_app_utilities.Rapp
  - Inherit, Composition, wrapper.. not decided
- Store both `ancestor_name` and `implementation_name`
- Use `ancestor_name` for publicize rapps.

[2014-03-21 05:02] stonier commented on #140
Sounds good.

[2014-03-21 05:47] #114 closed, assigned to bit-pirate

[2014-03-21 05:47] #126 closed, assigned to bit-pirate

[2014-03-21 05:54] bit-pirate opened #161 "Improve exception handling for CapsList intialisation"
Parsing an exceptions for a specific string is error-prone:
https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L232

Add specific exceptions for those cases.

[2014-03-21 05:58] bit-pirate opened #162 "Use timeout for finding the capability server"
Once it is implemented here: https://github.com/robotics-in-concert/rocon_tools/issues/15

[2014-03-21 06:00] bit-pirate opened #163 "Parameter for disabling capabilities support"
Allow disabling capabilities support by setting a parameter in the launch file in order to speed up the startup time of the app manager for users not requiring capabilities.

Requested by @stonier.

[2014-03-21 06:06] #115 closed, assigned to bit-pirate

[2014-03-21 06:06] #119 closed, assigned to bit-pirate

[2014-03-21 08:25] bit-pirate opened #164 "Make use of slots in RappManager"
As we started to do this in newer python packages, we should start making use of __slots__ in the RappManager class as well.

[2014-03-25 08:27] jihoonl opened #165 "Capability start/stop error handling"
In the start_app logic,

start_app logic immediately returns failure response when it gets exception while enabling required capabilities. But it does not stop capabilities that are already started before getting into exception.

https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L471-L498

[2014-03-25 09:36] bit-pirate commented on #165
You are correct. Good catch. I'll tackle it ASAP.

Out of curiosity, did you actually run into this issue or did you just notice the missing logic?

[2014-03-25 09:37] jihoonl commented on #165
just noticed. You might want to fix it sometime next week. rapp manager is under development now...

[2014-03-25 09:39] bit-pirate opened #166 "Remove outdated exception handling in start_app and stop_app"
In `start_app`

https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L474-L489

and `stop_app`

https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L569-L582

there are couple of exception handlers for starting and stopping capabilities.

Remo

[2014-03-25 09:42] bit-pirate commented on #165
Reminder for myself:

Possible solutions:
- Track successfully started capabilities
- Just stop all capabilities

[2014-03-25 13:24] stonier opened #167 "Remove deprecated _load in app manager"
I believe this function is no longer used anywhere. Check and remove if this is true.

[2014-03-26 23:24] stonier opened #169 "Rapp upgrade hangover jobs"
List of work to do post the major rapp upgrade.
- [x] rocon_app_utilities global script needs a prefix (see below)
- [x] rocon_app_utilities has tests, but no cmake test rules
- [x] rocon_app_utilities to use roslint and get it passing
- [x] rocon_app_utilities code analyasis (e.g. remove unused imports), pep8
- [x] drop pairing client information from rapps (let's discuss this first)
- [x] correc

[2014-03-26 23:43] jihoonl commented on #169
how do i use roslint?

[2014-03-26 23:46] jihoonl commented on #169
The script is installed in setup.py. Does it need to be installed in both local and global bin?

[2014-03-26 23:49] stonier commented on #169
See the root `CMakeLists.txt` in `rocon_gateway` (by piyush), `rocon_scheduler_requests` (by Jack) and `rocon_interactions` (by myself) for examples. The [wiki](http://wiki.ros.org/roslint) lists the make targets you can use.

[2014-03-26 23:53] stonier commented on #169
Ah, a global installation. We need to be careful with global script installs. There is a convention of sorts to use a prefix for global scripts (e.g. the ros in rostopic, rosservice, rosbag). I tend to use `rocon_` or `concert_`.  Perhaps `rocon_rapp` or `rocon_rapps`?

I updated the list above.

[2014-03-26 23:55] stonier commented on #169
Don't worry about doing these yet - these are non-functional issues. I'll check its working, then merge and then this list can be attacked (small steps).

[2014-03-26 23:56] jihoonl commented on #169
how about `rocon_app` since use `rapp` as abbreviation of `rocon_app` so far.

[2014-03-26 23:58] stonier commented on #169
:+1:

[2014-03-27 00:54] jihoonl commented on #169
gateway connection types are not directly utilizable as `.interface` introspection. Should we drop one or keep both.

Gateway connections types are
`["publisher", "subscriber", "service", "action_client", "action_server"]`

But interface specs are

`
 subscribers: []
 publishers: []
 services: []
 action_clients: []
 action_servers:  []
`

[2014-03-27 06:19] stonier commented on #169
Yeah, the 's make sense here, in the gateway those are used for the specification of a single gateway  rule so let's not reuse them. Still a frozen set module would be nice since these keys are used in multiple places in the file.

[2014-03-27 06:25] stonier opened #170 "Public parameters for rapps"
Right now we send parameters to start rapps with and it all works, but....

* *Validation* : you could set any parameter and hack the system, e.g. rosversion!
 * Check each parameter coming in with start_rapp commands, ignore it if it isn't public, set it otherwise.
* *Introspection* : provide idl information so that services know what parameters they can set for a rapp.

[2014-03-27 06:25] stonier commented on #170
Interesting question - should parameters have type information as well?

[2014-03-27 06:37] stonier opened #171 "Logging out rapp loading failures"
We have two tools that should provide warning or error information when things go wrong with your rapp:
- `rocon_app` - great for when you're writing your new app and want to check your rapp is valid.
- `rocon_app_manager` : which should show all the first problems but also further checks at runtime

**Basic Checks** : for rocon_app and rocon_app_manager
- Invalid specification when reading the `.

[2014-03-27 06:38] stonier opened #172 "Catch ParentNotFoundException"
This is occuring in `determine_runnable_apps()`.

Can reproduce simply by removing `rocon_apps/teleop` from the package whitelist in `turtle_concert`.

[2014-03-27 06:40] stonier opened #173 "Parent rapp packages and white/blacklists"
If we're using a whitelist, a rapp package has to have its parent rapp package in the whitelist too.

Maybe annoying?

Let's test drive for a while and see how annoying that really is.

[2014-03-27 07:01] stonier opened #174 "Wiki documentation for rapp upgrade"
Need to update the guide and make sure everything we need is in the sphinx docs.

[2014-03-27 08:19] jihoonl opened #175 "bash rule for rocon_app script"
just as rocon_launch

[2014-03-28 00:29] jihoonl opened #176 "provide white/black listed rapps in incompatible rapp topic"
https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L84-L85

[2014-03-28 01:52] jihoonl opened #177 "Notifying devs of incompatible rapps"
invalid rapps are identified in the indexer and investigatable with `rocon_app` script
providing these in incompatible_applist may be nice later.
- A latched publisher for `incompatible rapps`
- A string field with the reason for incompatibility.

[2014-03-28 02:13] jihoonl opened #178 "Syncing Connection key between gateway and app manager"
- [ ] in `rocon_app_manager/rapp.py` use a module frozen set for the connection keys
  - See `rocon_gateway/utils.py` for an example.
  - Maybe even use that one and the `create_empty_connection_type_dictionary()` directly?

[2014-03-28 02:13] jihoonl commented on #178
gateway connection types are not directly utilizable as `.interface` introspection. Should we drop one or keep both.

Gateway connections types are
`["publisher", "subscriber", "service", "action_client", "action_server"]`

But interface specs are

`
 subscribers: []
 publishers: []
 services: []
 action_clients: []
 action_servers:  []
`

[2014-03-28 02:14] jihoonl commented on #178
**From Dan**

Yeah, the 's make sense here, in the gateway those are used for the specification of a single gateway  rule so let's not reuse them. Still a frozen set module would be nice since these keys are used in multiple places in the file.

[2014-03-28 02:14] jihoonl commented on #169
connection key discussion is now in new issue https://github.com/robotics-in-concert/rocon_app_platform/issues/178

[2014-03-28 02:16] jihoonl opened #179 "support rocon_app info command"
to introspect a single rapp spec in command line

[2014-03-28 03:59] jihoonl opened #180 "Renable tests in rocon_app_utilities"
After changing functionality of rocon_app_utilities, some test cases including get_rapp are disabled.
Revive them later.

[2014-03-28 09:20] bit-pirate opened #181 "RappManager code documentation needs TLC"
Some methods are still undocumented, e.g. `RappManager._process_start_app`. Fill them in - even it's only a one liner.

[2014-03-31 03:46] jihoonl opened #184 "zsh/tcsh env-hooks for rocon_app"

[2014-03-31 04:01] bit-pirate opened #185 "Rapp specification review"
My comments after reviewing the rapp specification documentation (`/rocon_app_platform/rocon_app_utilities/doc/html/rapp_specification.html`):
1. Change the order of the paragraphs in "Rapp Types"
   -  put the table last and add a caption for it: "Rapp Parameters"
2. Meaning of "nearest parent" not clear
3. Meaning of "rapp chain" not clear
   - An example of a rapp chain would be good. This coul

[2014-03-31 04:01] bit-pirate commented on #185
@jihoonl @stonier please comment my comments. Thx.

[2014-03-31 04:07] jihoonl commented on #172
fixed in the pullrequest.

[2014-03-31 04:07] #172 closed, assigned to jihoonl

[2014-03-31 04:08] jihoonl commented on #179
implemented in PR

[2014-03-31 04:08] #179 closed, assigned to nobody

[2014-03-31 04:09] jihoonl commented on #175
https://github.com/robotics-in-concert/rocon_app_platform/pull/183

[2014-03-31 04:09] #175 closed, assigned to nobody

[2014-03-31 04:10] jihoonl commented on #171
all warning and errors are implemented.

[2014-03-31 04:10] #171 closed, assigned to nobody

[2014-03-31 04:11] jihoonl commented on #169
remain jobs are created as new issue. Others are implemented.

[2014-03-31 04:11] #169 closed, assigned to jihoonl

[2014-03-31 04:11] jihoonl commented on #167
Its gone.

[2014-03-31 04:11] #167 closed, assigned to nobody

[2014-03-31 05:52] bit-pirate commented on #185
PS: I linked the specs on the ROS wiki: http://wiki.ros.org/rocon/indigo/Guide#rocon.2BAC8-indigo.2BAC8-Guide.2BAC8-The_Appable_Robot.Rapp_Specification

[2014-04-01 00:07] jack-oquin opened #186 "rocon_app_utilities: bad rosdep dependency on rospkg"
In the hydro-devel branch:

[code]

[2014-04-01 01:30] stonier commented on #186
Thanks Jack.

[2014-04-01 01:30] #186 closed, assigned to nobody

[2014-04-01 03:05] stonier commented on #185
With regards to 4. - it should probably remain as is:

Because you can have a parent who is not an ancestor. e.g. given four rapps in a chain:

[code]

Only the last one is an ancestor.

Given Marcus' confusion, 2. and 3. probably need some clearer guidance - picture?.

[2014-04-01 03:08] stonier commented on #185
I think also it could do with a leading `Overview` paragraph. It takes quite a bit of mental juggling for a newcomer to work out what this spec is talking about.

Question though - should we put the overview here or on the wiki? I usually tend to the wiki, but I think we need it here for the specifications to make sense.

[2014-04-01 03:09] stonier commented on #185
Re 5. I'm not sure, @jihoonl?

[2014-04-01 03:13] stonier opened #187 "Prefferred policy for rapps"
Marcus' comments the other day and the turtlebot teleop examples really started highlighting a problem we will come across.

In testing and development and in general we're probably very very likely to find more than one compatible rapp on the package path. While rapp package whitelists can deal with this to some extent, quite often you'd like two implementations of a rapp inside a package (e.g. `

[2014-04-01 03:15] stonier commented on #171
@jihoonl It would be good to link to the commit that made the changes.

[2014-04-01 03:21] jihoonl commented on #185
The rapp with both parent_name and public interface will fail to pass rapp validation and be mared as invalid rapp with current imlementation.

[2014-04-01 03:25] bit-pirate commented on #185
So, an ancestor is a parent without a child? If that is true, then there needs to be a definition for ancestor, since this meaning can not directly be derived from the English word alone - at least not for non-native English speakers ...

Definitely.

The spec should contain this overview. Just keep it concise and focused on what is need to understand the spec. Without it the specification as it i

[2014-04-01 03:27] bit-pirate commented on #185
Btw, why is a virtual rapp not allowed to have a parent?

[2014-04-01 03:37] bit-pirate commented on #187
For capabilities this is solved by setting a parameter for each capability at startup (via the roslauncher): https://github.com/osrf/capabilities/blob/master/launch/demo.launch#L28-L29

Here `name` holds the name of the capability interface and `value` contains the name of the default provider.

[2014-04-01 03:41] bit-pirate commented on #174
Guide has been updated. The sphinx documentation holding the spec is currently under review: https://github.com/robotics-in-concert/rocon_app_platform/issues/185

@stonier if you are happy with the information added to the guide, please close this issue.

[2014-04-01 06:21] stonier commented on #185
I think my picture needs an upgrade ;)

@bit-pirate : think about it like c++ classes.
- **Child Rapp** ~ class that inherits from another
- **Ancestor Rapp** ~ class that does not inherit from anyone, may or may not have children.
- **Virtual Rapp** ~ class that has pure virtual methods (i.e. is not runnable)

The only difference between what we have and classes is in the virtual case - we constr

[2014-04-01 06:23] stonier commented on #185
One major feature that is missing in this spec is an explanation of each variable and the syntax it must use. It just shows their relationships and a couple of examples.

[2014-04-01 06:25] stonier commented on #174
I think we could use one tutorial about introspecting rapps on the package path (i.e. using the command line tool). That's definitely something a dev will/should be doing fairly regularly while building/debugging rapps. Not sure if the rapp tool is complete enough to really support this idea well yet though.

[2014-04-01 06:57] bit-pirate commented on #174
+1

I would add such a tutorial to the ROS wiki page for [rocon_app_utilities](http://wiki.ros.org/rocon_app_utilities). @jihoonl what do you think?

[2014-04-01 07:09] stonier commented on #174
Yeah, I agree on rocon_app_utilities. Prefix it to the beginning create a rapp tutorial chain though?

[2014-04-01 07:12] bit-pirate commented on #185
Alright, after talking with @stonier I now know the reasons
-  why virtual rapps have to be ancestors -> simplification
- and why children cannot define a public interface, i.e. inheritance, but no extensions -> simplification, motivation for splitting rapps).

This information needs to be added to the spec.

Furthermore, I would also like to see it (more) highlighted, that an ancestor has no pare

[2014-04-01 07:22] stonier commented on #185
:+1: good points/conclusions.

[2014-04-02 15:55] bit-pirate opened #188 "rocon_app_utilities.RappIndexer is missing documentation"
http://docs.ros.org/indigo/api/rocon_app_utilities/html/indexer_api.htm is empty. Please fill it in.

[2014-04-02 23:34] jihoonl commented on #188
Be relax. it is because of failure in jenkins. It nicely compiles and shows in my pc.

[2014-04-03 05:29] stonier commented on #188
I'd like to leave this open till it's resolved - it's a problem for Marcus as we need documentation showing up for OSRF.

[2014-04-03 05:41] jihoonl commented on #188
Putting myself out from assignee. I am not in charge of jenkins job.

[2014-04-03 07:52] bit-pirate opened #189 "Remote rapp indexer"
Develop a module, which queries remote repositories for available rapps and stores their information (.rapp, .interface, .launch, image files) in an index.

[2014-04-03 07:54] bit-pirate opened #190 "Filter rapps by dependencies"
Develop a module, which takes in a list of rapps and filters out the ones with missing dependencies using rosdep.

[2014-04-03 07:55] bit-pirate opened #191 "Rapp installer"
Develop a tool for installing the dependencies for a given rapp using rosdep.

[2014-04-03 08:12] bit-pirate opened #192 "CapsList's compat. check -> standalone filter"
Following the separation of indexers and filters, move `CapsList.compatible_check()` out of that class and turn it into a standalone filter.

(related to #189 and #190)

[2014-04-03 08:37] bit-pirate commented on #189
Some design questions and comments:
- Handling image files
  - download them into a temporary folder on index generation?
  - store links (URL) to the images and use a placeholder, when URL is invalid/not reachable?
- Rapp versioning
  - If rapps change, put them into different branch in the rapp repo pointed to
- Caching
  - would like to have 2 options:
    - do the indexing using a cache (reduc

[2014-04-03 08:39] bit-pirate opened #193 "RappIndexer's compat. check -> standalone filter"
Following the separation of indexer (see #192), move RappIndexer's.get_compatible_rapps() out of that class and turn it into a standalone filter.

(also related to #189 and #190)

[2014-04-03 11:44] esteve commented on #189
One of the differences between the remote and local indexer is that we can't easily crawl remote repositories (not all web repositories support directory listings).

We can either:
- pack rapps and their resources into single-file archives
- generate a file listing the file names of the rapp resources

both approaches add an extra step from the user before publishing a rapp. I favor the first, bec

[2014-04-03 14:34] #153 closed, assigned to stonier

[2014-04-03 14:34] stonier commented on #174
@jihoonl _bump_

[2014-04-03 14:36] stonier commented on #185
@jihoonl Last 3 points are recommendations for the rapp indexer sphinx documentations.

[2014-04-03 14:37] stonier commented on #184
@jihoonl use 'closes #xxx' hooks in your commits so these issues close.

[2014-04-03 14:38] stonier commented on #184
Ach, my bad - this is a todo job, not related to that pull request.

[2014-04-03 14:41] stonier commented on #140
@jihoonl is this finalised?

[2014-04-03 14:43] stonier commented on #137
This discussion rounded off and moved into other issues and an implementation.

[2014-04-03 14:43] #137 closed, assigned to nobody

[2014-04-03 23:47] jihoonl commented on #174
I am aware of it. I plan to tackle this in next sprint.

[2014-04-03 23:48] jihoonl commented on #140
Rapp has `ancestor_name`, `parent_name`, and `implmentation_name` all three.
We have concluded `rapp_manager` to use `ancestor_name` to publicize its available rapps.
Closing this.

[2014-04-03 23:48] #140 closed, assigned to jihoonl

[2014-04-07 04:57] bit-pirate commented on #184
You can also do this afterwards by adding _closes #XXX_ in the PR description (not title).

[2014-04-07 04:58] bit-pirate commented on #188
Has some a link to the doc job, so we can easily monitor it?

[2014-04-07 08:38] stonier commented on #188
http://jenkins.ros.org/view/IbinS32/job/doc-indigo-rocon_app_platform/

[2014-04-07 08:39] stonier commented on #188
It's throwing errors because rocon_multimaster is not built yet (which is in turn depending on common_tutorials). I don't know if that is the cause, but I'm not going to dig deeper just in case it happens to resolve itself once rocon_multimaster gets built.

[2014-04-08 01:27] bit-pirate commented on #189
I believe the first option is not feasible. The *.rapp and *.interface file could easily be merged. Adding the launcher however would make things messy and more difficult. However, we won't be able the merge the image (rapp icon). So in the end we would have multiple files as well.

I'm fear I don't fully understand the existing problems when it comes to directory listing. Could you explain a bit

[2014-04-08 05:07] jihoonl commented on #174
I have created a tutorial to describe invalid rapp cases and explanation on command line tools.
 Let me know if more information is needed.

[rocon_app_utilities wiki](http://wiki.ros.org/rocon_app_utilities)
[Introspect Rapps](http://wiki.ros.org/rocon_app_utilities/Tutorials/indigo/Introspect%20Rapps)

[2014-04-08 07:22] esteve commented on #189
If a developer stores their Rapps on Github by just uploading the Rapp's files, for example, we can't depend on server-provided directory listings:

https://raw.githubusercontent.com/robotics-in-concert/rocon_app_platform/hydro-devel/rocon_apps/apps/chirp/

so, we either add an extra step before releasing a rapp to generate a list of a rapp's contents so they can be fetched individually or we arch

[2014-04-08 11:47] bit-pirate commented on #189
Hm, tarballs are not that nice, since they are binary blobs and are not placed well inside a source code repo.

What do you think about this approach:

Each rapp repo contains its own rapp index. That is, a text file, which contains all information [1] about the rapps in that repo. The remote rapp indexer - equipped with the URLs of those index files aka index chunks - can then directly fetch thos

[2014-04-08 13:27] esteve commented on #189
Sounds good, I'm going to write a simple fetcher and an index generator and we can iterate over it.

[2014-04-09 05:26] jihoonl commented on #185
I have updated document. Check it out.

http://192.168.10.129/rocondoc/rocon_app_utilities/html/rapp_specification.html

I was not sure how to re-phrase it in the document. Hopefully it is covered in updated description

[2014-04-09 23:31] stonier commented on #185
[code]

I think you mean `not any platform-dependent`. Perhaps should be `not any implementation-dependent` (platform usually conveys immediate thought of cross-platform things).

[2014-04-09 23:32] stonier commented on #185
Also
- `infomration` -> `information`
- find out from marcus what the capabilities spec is (and replace that TODO).

[2014-04-09 23:35] stonier commented on #185
Other than that, documentation looks great. @bit-pirate how does it look now to an ignoramus? :stuck_out_tongue_winking_eye:

[2014-04-09 23:39] jihoonl commented on #185
plan to fix the broken links and namings.

e.g)
Rapp Parameter link.
`Virutal Rapp vs Rapp Implementaion` -> `Virutal Rapp vs Implementation Rapp`
`Child Rapps Vs Ancestor Rapp` -> `Child Rapp vs Ancestor Rapp`

[2014-04-10 00:10] stonier commented on #174
**Wiki Page**

On the [wiki page](http://wiki.ros.org/rocon_app_utilities) you need to make sure links don't break when jurassic comes out. Important one here is the rapp spec. link which points to an indigo version of the code api docs. Either version it, or just tell them to read the code api docs.

Or move all content to tutorials which are version scoped, leaving the main page easy to version

[2014-04-10 00:14] stonier commented on #174
The tutorial too is not so much about introspecting rapps, but troubleshooting rapps.

Perhaps the following - two tutorials:
- Introspect Rapps : moved from the main page, about how to use the rapp tool
- Troubleshooting Rapps : basically the content now from the Introspect rapps

And on the main page, just a link to the rapp specification docs and a tutorialchain starting from 1. (wrapped in a v

[2014-04-10 00:22] stonier commented on #185
The only other thing that might be nicer is a diagram for the `child -> parent-child -> ...` chain to make that clearer (that was a very rough, kinda confusing line from me). A uml class diagram might make that immediately clear to software people. But wait to see if it makes sense to marcus.

[2014-04-10 02:35] bit-pirate commented on #185
[nitpicker mode on] :

Details:
- Please use punctuation; e.g.:
  - hard to read: _is meta rapp contains public interface but any platform-dependent information. not-executable. e.g) rocon_apps/teleop_
  - easier to read: _is a meta rapp; contains a public interface and no platform-specific information; not executable; example: rocon_apps/teleop_
- not sure what you want to say here at Implementat

[2014-04-10 02:55] bit-pirate commented on #185
Regarding the missing capability info, specifying a type here is a bit more difficult, see this rapp for example: https://github.com/yujinrobot/kobuki/blob/hydro-devel/kobuki_apps/rapps/random_walker/random_walker.rapp

What do you recommend?

My suggestion: Add `Type =`dict (details below)` in the table, add the following section to the rapp specification page as well as the kobuki_random_walker

[2014-04-10 05:12] bit-pirate commented on #189
Quoting @esteve 's follow-up question from PR #196:

Not necessary, since all the relevant information is stored in the index. In case you are asking, where the rapp index should be stored, then I would suggest to put in  `~/.ros/rocon/`.

My suggestion posted at the beginning: Handle different versions by putting them in different branches.

By rapp repo I would say, since this is where the index

[2014-04-10 08:31] jihoonl commented on #174
Wiki has been updated as suggested. I have moved command line usage as Introspect Rapps tutorial and rename the original one as trouble shooting.

[rocon_app_utilities wiki](http://wiki.ros.org/rocon_app_utilities)
[Tutorial](http://wiki.ros.org/rocon_app_utilities/Tutorials)

[2014-04-10 10:21] stonier commented on #174
I just tweaked them a little (moved create a rapp into their midst) and added them to the [guide](http://wiki.ros.org/rocon/indigo/Guide).

Looks good to me now. @bit-pirate, reopen if you think of anything.

[2014-04-10 10:21] #174 closed, assigned to stonier

[2014-04-10 10:51] esteve commented on #189
+1

+1

+1

Does the index actually contain the content for those files or just
point to a path to them?

+1

If we have one big index, I think it goes back to my earlier proposal
where all the Rapp information is stored in one single place and Rapp
client just fetches this one big index.

Sounds good. I actually added an argument to rocon_app index to
generate an index from a given tree, but I le

[2014-04-11 01:42] bit-pirate commented on #174
Hm, someone moved the rapp-specific tutorials from rocon_app_manager to rocon_app_utilities thereby breaking the tutorials chain for rocon_app_manager. I fixed it. Please be careful with this in the future. Except this, tutorials are looking good.

[2014-04-11 06:56] bit-pirate opened #197 "Rapp uninstaller"
We need to implement this feature. So let's discuss how this could be achieved (@stonier, @esteve).

[2014-04-11 09:16] bit-pirate opened #198 "Confusing warning when unknown app is requested to be started"
Asking the app manager to start an unknown app results in a misleading warning, which complains about missing capabilitites. However, the true reason is that the rapp does not exist.

In the example below the rapp name has been mispelled - `kobuki_rapps/kobuki_random_walker` instead of 'kobuki_rapps/random walker'.

[code]

The root cause lies in this section: https://github.com/robotics-in-concer

[2014-04-12 04:21] bit-pirate commented on #67
Result from #112: We will stick with `/list_apps`, but the service will respond with the categories `available_apps`, `running_apps` and `installable_apps`. The development of the rapp repo will implement the later.

Considering this done.

[2014-04-12 04:21] #67 closed, assigned to bit-pirate

[2014-04-12 04:25] bit-pirate commented on #161
Implemented by https://github.com/robotics-in-concert/rocon_app_platform/commit/1434a204784c795a29681031515488c8a7ed963e and further improved by https://github.com/robotics-in-concert/rocon_app_platform/commit/9a9c495dc650305b2b456ca915e55fbc35fdad20.

[2014-04-12 04:25] #161 closed, assigned to bit-pirate

[2014-04-12 04:27] bit-pirate commented on #97
Duplicated. Follow #117 from now on.

[2014-04-12 04:27] #97 closed, assigned to bit-pirate

[2014-04-12 06:16] bit-pirate opened #199 "Generic robot teleop rapp for rocon_apps"
I'd like to start a discussion about a generic robot teleop (r)app, which can be used by a variety of robots.

Currently rocon_apps' teleop rapp (https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_apps/apps/teleop/teleop.rapp)  is only a virtual rapp. I'd like to turn it into a rapp implementation.

With the capabilities in place - the teleop rapp would depend on the

[2014-04-12 09:23] bit-pirate commented on #189
I would suggest to actually put those contents into the index. Otherwise all lot of downloads may be required during runtime, what will slow down the starting of a rapp.

Ping me, when there is more to test.

[2014-04-12 09:54] esteve commented on #189
So, at that point, I think we could just store the Rapps contents into tarballs and release them. The client would fetch them, unpack them and merge the local index with the index in the downloaded tarball.

[2014-04-12 10:40] bit-pirate commented on #189
My do you want to use tarballs?

Please review my comment on your previous suggestion of using tarballs further up (https://github.com/robotics-in-concert/rocon_app_platform/issues/189#issuecomment-39838518) and let me know, how tarballs would do the job better (and amything else I might have missed).

[2014-04-12 10:59] esteve commented on #189
I'm probably missing some details, so sorry if I seem obtuse, but it looks to me that we want to have all the Rapp resources together (images, .rapp, .launch and .interface files). Using tarballs (or any other packing format) would just put the resources in a single place, and that way we can not only separate a Rapp development files from released Rapps, but also simplify distribution and handle

[2014-04-13 04:07] stonier commented on #189
Jumping into the middle of this so forgive me if I go astray on a couple of things. Taking a step back here - what we were **initially envisioning**:
- App manager is fed
  - ROS_PACKAGE_PATH which it locally crawls git cloned rapp repos (easy to use while developing)
  - A param pointing to an indexed git rapp repo branch which has an index file (with a known name) stored at its root.
- Versionin

[2014-04-13 04:13] stonier commented on #189
Icons probably need a bit of a rework. Currently they use ros resource names (e.g. `rocon_icons/foo.png`) to be discovered. i.e. we find them in some package on the `ROS_PACKAGE_PATH`.

If we download them in an index _with_ the metadata, then that probably won't work. Some options:
- on the ROS_PACKAGE_PATH as a ros resource name to a _dependent_ package that will of course get installed when the

[2014-04-13 04:55] jihoonl commented on #185
I have updated the document.

http://192.168.10.129/rocondoc/rocon_app_utilities/html/rapp_specification.html

I am still hesitating to move the `rapp parameters` under `design descision`.
`What` and `How` should come first then `Why` in my opinion.
How do you think about it? @stonier

[2014-04-13 05:16] jihoonl commented on #198
It was because the entire logic of rapp retrieval has changed. preinstalled rapp is invalid anymore.
and I forgot to add the validation check back :P
Will make the patch later.

[2014-04-13 07:10] stonier commented on #185
LGTM. I think it's readable enough in the present form. @bit-pirate re-open this ticket if you'd like further changes.

With regards to `what`, `how` and `why`, I think the `how` should always be a last resort. Most of the time we're documenting for a programming api which is essentially a `black box`.

The **what** is important  for obvious reasons - it describes what you need to put in and what

[2014-04-13 10:14] stonier commented on #199
Ancestor rapp based on capabilities sounds like a great idea - _the reference implementation_.

[2014-04-13 10:18] stonier commented on #197
Do we? Are we talking about uninstalling rapps or all their dependencies? Is there actually a use case for uninstalling apart from some nice concept of _completeness_?

[2014-04-13 10:19] stonier commented on #174
That would be me - I carefully tracked down a couple of those tutorial chains, but must have missed one, my bad.

[2014-04-14 02:25] stonier commented on #197
@esteve don't worry about this one unless you have a particular idea I didn't think of - we need to find a way to explain that we're leveraging a shared software ecosystem and not doing android style install/uninstallable apps and that changes the ball game. So...we'll handle this internally.

[2014-04-14 02:26] #197 closed, assigned to nobody

[2014-04-14 02:39] bit-pirate commented on #185
Looks good to me as well. One last request:

Please add kobuki_apps/random_walker.rapp (https://github.com/yujinrobot/kobuki/blob/hydro-devel/kobuki_apps/rapps/random_walker/random_walker.rapp) to the examples, because the other ones don't show the usage of capabilities.

[2014-04-14 04:05] bit-pirate commented on #189
So, I sat down with @stonier to review and discuss the benefits and drawbacks of the text-file and tarball approaches.

Compared to text files, tarballs require a certain extra time for access/extraction. I personally don't know exact numbers and @stonier sees this extra time as neglectable. If you agree, then I'm happy to drop this concern. Another drawback is, that those tarballs will often be s

[2014-04-14 04:33] #190 closed, assigned to nobody

[2014-04-14 04:35] bit-pirate commented on #191
The filter and install methods have been implemented by PR #195. I'll close this issue, once those functionalities have been implemented in the app manager.

[2014-04-14 04:44] jihoonl opened #203 "rapp_path not defined."
The recent pull request on rocon_app_utilities broke `rocon_app list` command.

[code]

[2014-04-14 04:45] jihoonl commented on #203
`rapp_path` and `package` are not defined in `update_index()` method

[2014-04-14 05:17] bit-pirate commented on #203
Looking into this.

[2014-04-14 05:20] #203 closed, assigned to bit-pirate

[2014-04-14 05:21] bit-pirate commented on #203
Works for me now. Re-open, if the issues still exists.

[2014-04-14 05:21] bit-pirate commented on #203
PS: I missed changing those names when merging Esteve's and Daniel's PRs.

[2014-04-14 16:37] esteve commented on #189
Yep, that's it. The BSD folks have a lot of experience with this sort of packaging, and I think their solution is very elegant and simple (the current FreeBSD ports collections includes recipes for over 23000 packages).

The release process becomes rather simple, we just package all the Rapps in a directory into a tarball and serve it. As for incremental updates, we can either let the client redow

[2014-04-14 17:30] dirk-thomas commented on #197
Just some further thought about it...

A rapp is basically "installed" when all its dependencies are available. There is currently no additional "installed" flag stored somewhere.

But since multiple rapps can have the same dependencies the "installed" attribute must be modeled separately in order to "install" / "uninstall" these rapps individually.

Also when it comes down to uninstalling the dep

[2014-04-15 10:25] stonier opened #204 "How to handle resource names in rapps"
Over the past couple of days, discussions on how to setup a remote repository with cached index has raised some subtle issues over the current rapp specification policies.

**Current Status**

A rapp begins and ends with a rapp file that is exported in the `package.xml`, e.g.

[code]

This file contains some configuration but is also a pointer to other files that help provide the specification for

[2014-04-15 12:11] stonier commented on #204
@dirk-thomas @bit-pirate thoughts?

I created a dummy  [rocon_apps](https://github.com/robotics-in-concert/rocon_apps) repo, and will fill it in tomorrow with some fake rapps that we can use for testing some ideas. You might like to fork [rocon_app_platform](https://github.com/robotics-in-concert/rocon_app_platform), delete the rocon_apps package there, and start building the libraries and tools t

[2014-04-15 12:21] stonier opened #205 "How to handle launchers in remote rapps"
Given a downloaded index in the form of a tarball, how do we handle the launch files that were previously bundled in the rapp? This question could also be posed for param files.
- While developing, a rapp repo will be on the ros package path and so no problem.
- We can feasibly pull a launch file directly from a tarball and execute that.
- Can't do similarly yaml configuration files though too.

*

[2014-04-15 21:54] piyushk opened #206 "[question] Specifying arguments to rapp launch files:"
Can I do either of the following?
- Run an app on a remote concert client with a specific parameter to its launch file
- Supply a parameter to the rapp launch file in the .rapp file

[2014-04-15 23:28] stonier commented on #58
Superceded by #170.

[2014-04-15 23:28] #58 closed, assigned to stonier

[2014-04-15 23:30] stonier commented on #170
Rapps need a public parameters file

[2014-04-15 23:33] stonier commented on #206
I've been wanting to do this recently as well, see #170 and some discussion in #139. I have enabled remappings in the [start app](https://github.com/robotics-in-concert/rocon_msgs/blob/hydro-devel/rocon_app_manager_msgs/srv/StartApp.srv) and parameters in the interactions, but not yet parameters in the rapps.

Can't figure out how this might work. Why would putting it in the `.rapp` file be differ

[2014-04-15 23:33] stonier commented on #206
What's your use case? I can bump up the priority on this.

[2014-04-16 00:41] stonier commented on #206
Let's continue the discussion at #170.

[2014-04-16 00:41] #206 closed, assigned to nobody

[2014-04-16 00:43] stonier commented on #170
Talking with @jihoonl, we both think that using launch args is the best way to expose public rapp parameters. The launcher can then play around with these args (e.g. if, unless in roslaunch xml) or pass these args to internal parameters as it wishes.

[2014-04-16 02:34] dirk-thomas commented on #204
I think we have two different kind of resources:
- some need to be accessible when querying and presenting a list of available rapps (e.g. the icon)
- some are only necessary when the rapp is actually being invoked (e.g. the launch file)

For the second kind it makes sense to reference them by resource name since they should ultimately come from the ROS package.

For the first kind we might just u

[2014-04-16 03:46] piyushk commented on #170
I can describe my use case as necessary, however it is not too urgent. Mostly it is setting arguments in a launch file to decide what parameters get set, and what nodes get launched. It would be nice to be able to specify this when launching the app.

[2014-04-16 04:42] stonier commented on #170
Args for public parameters sounds good. I'll tackle this after the demo.

[2014-04-16 05:09] stonier commented on #204
Ok, all of the above sounds reasonable. Only real question is how to deal with that ambiguity. Can't really change the 'ros resource name' style as its used everywhere. Could enforce relative names to start with a `./` but that'd be inconvenient. Would prioritising the lookup with a fallback if it fails work?

Need to make some decisions so we can define what the indexer has to do and make any imm

[2014-04-16 05:25] dirk-thomas commented on #204
The "problem" with this order is that a file `foo/bar.launch` can not be used as a relative file because it is potentially overlayed by a package `foo`. That package could appear even long after the rapp was created.

Therefore I would suggest changing the resolve order to:
- try to resolve resource with a relative lookup
- if that relative resource does not exist and the value is a valid ros reso

[2014-04-16 05:31] stonier commented on #204
Good point. Have to get tuned to thinking about every possible which way things can break like you guys do :stuck_out_tongue_winking_eye:

I updated the notes above. Setting up a rapp repo now.

[2014-04-16 06:17] stonier commented on #205
Launchers will get support for _relative_ and _resource_ lookups. See #204 for discussion.

[2014-04-16 06:17] #205 closed, assigned to stonier

[2014-04-16 06:18] stonier commented on #204
Rapp repo is at https://github.com/robotics-in-concert/rocon_rapps. @dirk-thomas  feel free to test, mutate and evolve that as you wish.
Closing this issue here - I think we're resolved.

[2014-04-16 06:18] #204 closed, assigned to stonier

[2014-04-16 06:32] stonier commented on #204
Note that rocon_rapps is currently not runnable with the app manager but should be sufficient for testing the rocon app list, index(?), install etc. commands until both the local app indexer and app manager are both working for non-resource names everywhere.

[2014-04-17 04:25] bit-pirate opened #207 "fix formatting in rocon_app help"
With the newly added commands some command description in the help are now misaligned.

[code]

Fix them after the new commands have been merged (#196).

[2014-04-17 04:31] dirk-thomas commented on #207
Should be addressed with the referenced commit.

[2014-04-17 04:31] #207 closed, assigned to nobody

[2014-04-17 09:51] steida opened #208 "Why I am getting notifications from this project?"

[2014-04-17 11:36] stonier commented on #208
You are not a member of the organization. I don't know of any other reason you'd get notifications apart from something in your own private preferences.

[2014-04-17 11:42] steida commented on #208
So I have to ask github. Probably some error on their side. Thank you for quick response.

[2014-04-18 06:13] bit-pirate commented on #208
Maybe you are watching it? Also, on the right, there is a subscribe button. Does it say you are subscribed?

[2014-04-19 08:30] bit-pirate opened #209 "[rocon_app_utilities] Extend dependency checker docs"
Dependency checker's `check_missing_rapp_dependencies()` does not return the reason, why a specific rapp cannot be installed (https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_utilities/src/rocon_app_utilities/dependencies.py#L54-L83).

For debugging purpose it would be great to know, which dependencies are missing.

[2014-04-19 08:54] bit-pirate commented on #209
Taking a closer look, I realised that the missing dependencies are indeed stored and returned. Only the doc is missing this. Should be added.

[2014-04-19 08:55] bit-pirate opened #210 "[rocon_app_utilities] dependency checker missinterprets installable apps"
Installable apps are wrongly added to the list of installed apps, if at least one dependency is available.

https://github.com/esteve/rocon_app_platform/blob/remote_index/rocon_app_utilities/src/rocon_app_utilities/dependencies.py#L70-L84

[2014-04-19 09:38] stonier opened #211 "Automatically installing apps"
Ye olde `multimaster_experimental` had a nice way of handling this (I think they used this for the pr2 as well). It consisted of
- A script, [rosget](https://github.com/willowgarage/multimaster_experimental/blob/master/app_manager/scripts/rosget) that helps you install debs with a name of `ros-*`.
- Configuration for passwordless use of `rosget` in `/etc/sudoers`
- There is also some [code](https:

[2014-04-19 09:44] stonier commented on #211
Some information on passwordless settings for `sudoers`:

[code]

**ORDER IS VERY IMPORTANT!!!!** - this command should be last (if I recall correctly).

Perhaps you can also configure sudoers without a full pathname (just expect it on the path). This would be useful to ensure `rosget` would work even when in the source workspace.

[2014-04-19 09:55] bit-pirate commented on #211
This is required for #196.

@dirk-thomas (@wjwwood) is this already implemented in `rosdep`? If not, do you have a suggestion for implementing this?

[2014-04-19 13:07] bit-pirate commented on #211
`sudoers` seems to do the trick. However, we now face a new problem: How to update the environment variables to let the app manager/roslaunch know about the newly installed packages, especially important for nodelets.

Any ideas?

Which variable contains the information about available packages, nodelets, etc.?

PS: Some hints for modifying suders using  a script. This would be important when enab

[2014-04-19 16:06] bit-pirate commented on #211
Currently this is a showstopper. In our current situation we already have a nodelet manager running (launched by the capability server). After the app manager installed a package, which contains a nodelet, the running nodelet manager is not aware of it and the load nodelet service call fails.

I was playing around with nodelet and pluginlib, but couldn't find a way to update the list of available

[2014-04-19 19:07] dirk-thomas commented on #211
I am pretty sure that `rosdep` does nothing in regards to `sudoers`. It simply need to be invoked with `sudo rosdep init`. I am not sure what you would like rosdep to provide for this?

The menthod `refreshDeclaredClasses` in pluginlib should be the right way of doing so. Since it uses roslib which uses rospack behind the scene all queries are potentially using cached data. Try invoking `rospack p

[2014-04-19 19:15] dirk-thomas commented on #209
I am not sure what should be added here. Currently the methods doc block mentions that the return value is a tuple with three values (https://github.com/esteve/rocon_app_platform/blob/remote_index/rocon_app_utilities/src/rocon_app_utilities/dependencies.py#L54).

I just added some more details though: https://github.com/esteve/rocon_app_platform/commit/6a393ceb4869c56c9e7844d42f91fee175552a3f

If

[2014-04-19 19:27] dirk-thomas commented on #210
As far as I can see the existing API works different fro what you expect.

For each rapp all run dependencies are getting classified into "installable", "not installable", "already installed".

The existence of a rapp `foo` in the third dictionary does not mean that it is _completely_ installed. It only means that these dependencies are installed. If the same rapp is also part of the first or seco

[2014-04-21 00:46] stonier commented on #208
1. The user steida != este, hence this issue was a misdirection that couldn't solve the problem.
2. Este was accidentally added instead of esteve
   - When you add a team member, github is trying really hard to autocomplete but this is sometimes slower than your typing...so in this case it autocompleted with este even when you fully typed esteve quickly followed by enter.

[2014-04-21 02:33] steida commented on #208
I have account este too. Remove me please.

On Mon, Apr 21, 2014 at 2:46 AM, Daniel Stonier notifications@github.comwrote:

[2014-04-21 02:45] stonier commented on #208
This has already been done 2 or 3 days ago, the problem is elsewhere.

[2014-04-21 02:48] stonier commented on #208
You can see for yourself if you are in the organisation anywhere at

https://github.com/orgs/robotics-in-concert/members

[2014-04-21 03:22] bit-pirate commented on #211
Dirk, updating the cache using `rospack profile` together with `refreshDeclaredClasses` did indeed do the trick. Please take a look at the newly created issues for nodelet and pluginlib (see links above) to check, if we can get this implemented quickly.

Regarding the other issues, my basic question is: What is a good way to allow automatic installation of ROS packages and their system dependencie

[2014-04-21 09:25] bit-pirate opened #212 "Auto-detect support automatic rapp installation"
Better than setting a parameter in the app manager's roslauncher would be an automatic detection of whether or not everything has been set up to support automatic installation of apps.

Our current method is enabling password-less installation using apt-get via sudoers (see #211 for more details).

One method of detecting, if this has been set-up, is actually trying to install a know to be availab

[2014-04-21 12:25] bit-pirate commented on #209
What I basically missed, was that those dics did not only contain the names of the rapps. Your newly added comments (https://github.com/esteve/rocon_app_platform/commit/6a393ceb4869c56c9e7844d42f91fee175552a3f) make this clear. Thx!

[2014-04-21 12:25] #209 closed, assigned to nobody

[2014-04-21 12:36] bit-pirate commented on #210
I agree the current API is confusing. And BTW, "keeping the API" was only meant to target the code, which was there before we started working on the new indexer and installer.

Now, looking at a new, more intuitive API, I would suggest to keep the three existing categories - installed, uninstalled, noninstallable - with the only difference being, that a rapp only exists in one list. That is, a  ra

[2014-04-21 18:06] dirk-thomas commented on #210
Imo it would be a bad API if it returns three tuples and a rapp is always only part of one. Why?

Because the API can simply not return the necessary information to print simple debug information about the state of a rapp, like this:

[code]

I would propose to return a single dict mapping from rapp names to X where X must contain all dependencies (classified by their state) and also allow the eas

[2014-04-22 01:14] bit-pirate commented on #210
Sorry for my ignorance. Could you explain why this is not possible? The method contains all required information already.

Sounds good as well, but also more complicated.

[2014-04-22 03:30] dirk-thomas commented on #210
The current API returns the following values:

[code]

The API provides all information about the rapp but the structure makes it "difficult" to decide the status of `rapp1`. In this example it is actually `not installable` since one of the dependencies is not installable.

The problem with your proposal (let each rapp only appear in one of the tuples) is that the API is hiding information, theref

[2014-04-22 04:10] bit-pirate commented on #210
Since this thread got a bit lengthy, @dirk-thomas and I quickly sync'ed by chat.

Conclusion:

The approach of using nested tuples, such as

[code]

Would not hide any information, but is not easy to comprehend.

Hence we decided to implement the proposed `RappDepdendencyObject`, because the benefits of a more easy to use and comprehensible API outweighs the drawback of a more complex implementati

[2014-04-23 03:07] #189 closed, assigned to nobody

[2014-04-23 03:07] #210 closed, assigned to nobody

[2014-04-23 09:15] #117 closed, assigned to bit-pirate

[2014-04-24 03:08] stonier commented on #212
1) Just launch a command in a python subprocess with a fresh shell, that should work.

2) Don't even worry about it, just proceed to try every time the user asks to start a rapp, and if it works, great, if it doesn't, pop out a warning of decent immensity and obviality to the user.

I prefer 2).

[2014-04-24 03:35] #191 closed, assigned to nobody

[2014-04-24 06:43] stonier commented on #212
2) is bad. The concert then cannot be sure if such a resource is allocatable before starting it.

So yeah, we have to validate at startup, i.e. detect whether the user can run sudo with apt-get or rosdep or similar.

I don't think we have to go as far as detecting if the user has got temporary sudo access though. It is a minor use case and because it is human interactive, we can always throw them

[2014-04-24 07:53] stonier opened #215 "Upgrades for conductor v2"
@bit-pirate : a pseudo pull request for you!

See a compare of the diffs here
- rocon_msgs: https://github.com/robotics-in-concert/rocon_msgs/compare/8c28c542394808ed07e1bc66bbd13c40c592c1a9...6d6ff836d22c08bdd576d09e3812ffb4ee178cb6
- rocon_app_platform: https://github.com/robotics-in-concert/rocon_app_platform/compare/6a393ceb4869c56c9e7844d42f91fee175552a3f...c1ba0f386102cd022389e1cb2ce5922b32d

[2014-04-24 08:51] bit-pirate commented on #188
Build farm shows all green. Close this?

[2014-04-24 09:39] bit-pirate opened #216 "Updating the rapp index"
There are some differences when it comes to how changes in the workspace impact the available list of rapps:

* adding/removing repos immediately impacts the index
* adding src rapps requires a `rocon_app update`
* removing src rapps turns them invalid, because rapp resources cannot be found any more, e.g. icon, launcher etc. After a `rocon_app update` they are completely removed

Cannot test deb

[2014-04-24 09:41] bit-pirate commented on #216
Reminder for myself:
We had the situation today, that rapps, which had been freshly added to the workspace weren't picked up by the rapp manager. However, I couldn't reproduce that behaviour. Post here, if this happens again.

[2014-04-24 10:56] bit-pirate commented on #215
My tests were successful as well. Closing this now - re-open, if new issues are discovered.

[2014-04-24 10:56] #215 closed, assigned to bit-pirate

[2014-04-24 11:25] #198 closed, assigned to nobody

[2014-04-24 11:26] bit-pirate commented on #198
The above commit is actually the fix of the fix introduced by https://github.com/robotics-in-concert/rocon_app_platform/commit/65f4eaee8ecf056357f231258f503aeb4a0656db.

[2014-04-24 11:29] bit-pirate commented on #166
This has been made obsolete by then recent changes introduced with https://github.com/robotics-in-concert/rocon_app_platform/commit/65f4eaee8ecf056357f231258f503aeb4a0656db.

[2014-04-24 11:29] #166 closed, assigned to bit-pirate

[2014-04-24 16:21] dirk-thomas commented on #216
Since the index does currently not provide much of an advantage (since the archive needs to be unpacked to satisfy further API which returns absolute paths to resources) I would suggest to just skip the indexing part for local folders. Then it is always up-to-date. I can do that if we agree on the approach?

[2014-04-27 14:18] stonier opened #217 "Shutting down erroneously checking current rapp"
When shutting down a simple turtle_concert, the clients are throwing up this traceback:

[code]

[2014-04-27 14:19] stonier commented on #217
Seems to be happening `100%`.

[2014-04-28 01:52] #217 closed, assigned to stonier

[2014-04-30 01:29] #208 closed, assigned to nobody

[2014-04-30 12:55] stonier opened #222 "Reconstruct launchers for the rapp manager"
- [x] No more public/private
- [x] Focus on standalone/multimaster implementations (i.e. no gateway vs gateway)
- [x] Scale up args to enable/disable modules (e.g. zeroconf, caps)
- [x] Specialisation of multimaster for concert client

[2014-05-01 04:15] stonier opened #223 "Allow human robot names"
Currently "Cybernetic Pirate" will fail because ros tries to use that directly for a ros namespace, but spaces and capitals invalidate ros names.

[2014-05-01 04:17] stonier commented on #223
0f4a761b2e777aea19a617c791f28bd65a775c5f

[2014-05-01 04:17] #223 closed, assigned to stonier

[2014-05-01 23:47] stonier commented on #178
Dropping this for now as it's not terribly important.

[2014-05-01 23:47] #178 closed, assigned to stonier

[2014-05-02 07:05] bit-pirate commented on #199
There is a lot of code for this already:
- many robot-specific implementations:
  - Turtlebot has its own keyboard and joystick teleop (https://github.com/turtlebot/turtlebot_apps/tree/hydro/turtlebot_teleop).
  - PR2 has its own version: http://wiki.ros.org/pr2_teleop
  - many more robot-specific teleop implementations ...
- Yujin has its own closed-source implementation as well
- There is simple

[2014-05-02 07:16] bit-pirate opened #224 "Redefine teleop (virtual) rapp"
Currently the teleop rapp defines both a velocity control and camera feedback interface.

I propose to split this up into `Teleop` - velocity control only - and `VideoTeleop` - velocity control plus video/camera feedback.

Thoughts?

This is related to #199.

[2014-05-02 07:33] stonier commented on #224
Sounds good - do you want to do it before or after the demo though?

[2014-05-02 07:34] bit-pirate commented on #224
After will be fine. No need to rush this.

[2014-05-02 09:15] bit-pirate commented on #222
Great work! New launchers look way better.

PS: https://github.com/robotics-in-concert/rocon_app_platform/commit/dda2d980b27d0461b4923cc81a7e3073a9e8375a#commitcomment-6190799

[2014-05-02 09:31] bit-pirate commented on #222
https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/launch/standalone.launch#L16

Misses the debug arg.

[2014-05-02 09:58] bit-pirate opened #225 "Installing rocon_app_manager fails"
Using the indigo branch the invocation of `yujin_make install` leads this error:

[code]

This line needs to be removed: https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/CMakeLists.txt#L24

[2014-05-02 10:28] bit-pirate opened #226 "Expose rapp implementation information"
I just created a rapp implementation for a virtual rapp, i.e. `robosem_rapps/teleop` for `rocon_apps/teleop`.

Now, when starting the app manager it is registered as `rocon_apps/teleop` instead of `robosem_rapps/teleop`.

Outputs:

When starting up the rapp manager:
[code]

Calling `list_rapps`:
[code]

@stonier @jihoonl is this supposed to be that way?

[2014-05-03 08:51] #225 closed, assigned to nobody

[2014-05-05 07:51] bit-pirate opened #228 "Enable parameter support for capabilities"
Capabilities also support parameters. However, this is not yet implemented in the app manager. Do that!

[2014-05-05 08:05] bit-pirate commented on #199
Ha, I actually confused this a bit. The teleop rapp running on the robot is actually very light-weight - it just needs to listen to velocity commands. One can see this as the output part of the whole teleop application. The overview given above is focusing on the input part - keyboard, joystick, Android app, Qt app.

PR #229 adds the implementation of the teleop rapp, which is quite simple, since

[2014-05-06 03:26] bit-pirate opened #230 "[app utilities] Abolish one-child-policy"
It looks one can only inherit from a virtual or child rapp, but not an ancestor rapp.

[code]

Is there a reason for this limitation?

In my use case, I would like to have complete `rocon_apps/teleop` rapp and then inherit from that. Am I doing sth wrong here @stonier @jihoonl ?

[2014-05-06 03:37] bit-pirate opened #231 "[app utilities] Inheriting rapp resources does not work"
In my case the virtual rapp `rocon_apps/teleop` contains and specifies the icon and interface and the rapps inheriting from it don't. This leads to this error:

[code]

as well as

[code]

Looks like resource inheritance does not work with relative paths specified (just `joystick.png` and `teleop.interface`). Changing to a ROS resource identifier (`rocon_apps/joystick.png`) makes it work again.

[2014-05-06 03:39] stonier opened #232 "Rapps feature/issue prioritisation"
@bit-pirate, @jihoonl

Since we're now collecting a fair bit of information on this, I thought I'd keep track of things here.
- **Rapp Definitions**
  - [x] relative paths to rapp internal files (interactions, public_interface): https://github.com/robotics-in-concert/rocon_app_platform/issues/231
  - [x] add type information to public interfaces, (needs an issue) #244
  - [x] add specification for

[2014-05-06 03:41] bit-pirate commented on #230
Wait, I think I misunderstood the limitation here: It's not the problem of interiting from an ancestor, but only one rapp can inherit from a specific rapp at a time. Is that understanding correct? If yes, why is it like that?

[2014-05-06 03:46] stonier commented on #230
Because [Highlander](http://en.wikipedia.org/wiki/Highlander_%28film%29) is an awesome cult movie (there can be only one!).

His rapp indexer was crawling the package path and throwing up problems if it found multiple implementations because the rapp manager of course, can only run one of these. As you've pointed out though, this is very brittle and the rapp manager needs some hints as in #187

[2014-05-06 03:50] stonier commented on #226
Yes - that is how it gets exposed to the concert and that is all the _necessary_ information to a higher level user.

I could create an extra field and throw in the the actual implementation rapp for convenience though.

[2014-05-06 03:52] stonier commented on #226
Ok, @bit-pirate has a use case. For non-concert people, they'd like to sometimes be able to select the implementation they want to run (i.e. override the _preferred_).

[2014-05-06 03:53] bit-pirate commented on #232
None of the issues linked above are urgent (IMO) and hence can be postponed to after the demo

[2014-05-06 03:55] bit-pirate commented on #230
Roger. I remember that old issue again. Changed the issue title to avoid confusion.

[2014-05-06 03:56] stonier commented on #232
Ok. Update here if you come across any _showstoppers_ and I'll tackle them.

[2014-05-07 01:20] jihoonl commented on #199
My brain is full of other stuffs at the moment. I will follow up this after the demo.

[2014-05-07 01:20] jihoonl commented on #224
:100:

[2014-05-07 01:21] jihoonl commented on #232
Bug label?

[2014-05-07 01:34] jihoonl commented on #226
I wonder how interaction searches its connected rapp. Does it use implementation name or ancestor name?

[2014-05-07 03:56] bit-pirate commented on #98
Brief summary of the issue:
With the new system the capabilities dictate the topic names (https://github.com/osrf/capabilities/pull/30). That means rapps have to adhere to them, what conflicts with the old style, in which we remapped rapp topics according to the needs of the concert.

The current solution we are investigating is using topic relays in the rapps for concert topics.

[2014-05-07 03:59] bit-pirate commented on #232
Removed. The above issues are either results of design decisions or enhancements.

[2014-05-11 08:35] stonier commented on #226
Currently ancestor name. That is the only one that is officially exposed by `list_apps` topic and the only one that is used in `start_rapp` service. Feasibly we should implement stuff in the `rocon_app_manager` so that it knows how to start both ancestor (via the _preferred_ implementation) or the descendant directly.

[2014-05-12 09:39] bit-pirate opened #233 "Rapp manager does not shut down remaining caps"
If stopping a cap has returned an error.

The rapp manager should store the error, attempt to shutdown the remaining caps and then report back the issue through there service response.

[2014-05-12 09:42] bit-pirate commented on #233
This is also related to #165.

[2014-05-12 09:53] bit-pirate opened #234 "Rapp manager does not reset its state when stopping rapp failed"
Had a situation here, where stopping a rapp failed (related with capabilities: #https://github.com/robotics-in-concert/rocon_app_platform/issues/233). The service response returns the error, but the status of the rapp manager still says it's running the rapp.

[2014-05-12 12:25] bit-pirate commented on #233
Question @stonier and @jihoonl:
If stopping a rapp returns an error, should it be considered running or stopped?

If it should be considered stopped, I would make sure the capabilities are stopped in this case as well.

[2014-05-13 06:45] bit-pirate commented on #233
Conclusion of our talk is, that for now we consider the rapp stopped.

There is currently nothing implemented in the rapp manager, which could handle the situation, where stopping a rapp returns an error.

If specific use cases turn up, where this is a problem, we will add better handling specific for those use cases. At this moment it is hard to find those cases and hence even hard to add proper

[2014-05-13 07:03] bit-pirate commented on #165
Decided to implement the latter.

[2014-05-13 08:07] bit-pirate opened #236 "Tests failing on buildfarm"
Due to import error:

[code]

http://jenkins.ros.org/job/devel-indigo-rocon_app_platform/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/37/testReport/

[2014-05-13 09:41] stonier commented on #236
[Jenkins console report](http://jenkins.ros.org/job/devel-indigo-rocon_app_platform/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/37/console).

[2014-05-13 09:43] stonier commented on #236
Missing dependency on `rocon_ebnf` inside `rocon_uri`. This was already fixed in https://github.com/robotics-in-concert/rocon_tools/commit/2133c7032607d8e82c9f7ea7e7063879acbf2566 May 10, but hasn't been released yet. This should go away on the next deb release since this build used the old debs.

[2014-05-13 09:43] #236 closed, assigned to nobody

[2014-05-15 00:25] stonier opened #238 "Smarter concert checking when getting invited"
Currently it checks the concert name against its current remote controller when getting an invite. If these are different, then it rejects the invite.

**Problem**: if the concert went down and for some reason the client was out of range (e.g. out of wireless), then it will reject the invite from a newly started concert because the postfixed uuid's will be different.

**Solution**: before immediat

[2014-05-15 00:25] stonier commented on #238
This problem was raised in https://github.com/robotics-in-concert/rocon_concert/issues/230

[2014-06-24 02:06] bit-pirate opened #241 "Check if rospack cache recrawl is still required for rapp installation"
Currently the rapp installation process (https://github.com/robotics-in-concert/rocon_app_platform/issues/211) uses a `rospack profile` call to manually trigger the update of rospack's cache: https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_manager/src/rocon_app_manager/rapp.py#L94-L97

With the updates in nodelet_core (https://github.com/ros/nodelet_core/pull/2

[2014-06-25 05:11] jihoonl commented on #188
Confirmed that all docs are built well http://docs.ros.org/indigo/api/rocon_app_utilities/html/indexer_api.html

[2014-06-25 05:11] #188 closed, assigned to nobody

[2014-06-25 05:14] jihoonl commented on #170
Todos to enable public parameter
- rocon_app_manager
- concert_simple_scheduler
- concert_resource_pool
- rocon_qt_app_manager
- concert_schedulers
- rocon_interactions

[2014-06-25 05:26] jihoonl commented on #170
~~Speed configurable concert_teleop would be good test for public_parameter~~

Configurable Talker would be better. Fork talker from rospy_tutorials and modify to use param for publish frequency and message.

[2014-06-26 09:27] jihoonl opened #242 "Runtime remaps/parameters -> status"
status topic provides information about running rapp.

But it does not update its public parameter information if public parameter is configured when rapp is started.

[2014-06-27 02:10] jihoonl opened #244 "add type information to public interfaces"

[2014-06-30 01:30] stonier commented on #242
Good idea.

[2014-07-01 05:10] jihoonl commented on #170
#243 closes this issue.

[2014-07-01 05:11] jihoonl commented on #139
Rapp v2 with `rocon_app_utilities` has been merged and working well.

[2014-07-01 05:11] #139 closed, assigned to jihoonl

[2014-07-01 05:12] jihoonl commented on #104
have not seen this issue more than 6 month. reopen if necessary.

[2014-07-01 05:13] jihoonl commented on #141
`rocon_app` script would be sufficient for now?

[2014-07-01 06:55] jihoonl commented on #187
Any link where discussed about this issue in capability?

[2014-07-01 07:04] jihoonl commented on #187
Seems like https://github.com/osrf/capabilities/pull/6 is relevant,

[2014-07-01 07:13] jihoonl commented on #226
How about exposing all `implementation` and `virtual`  ancestors in `list_rapp` to resolve this issue? In this case, non-concert users can choose either implementation or virtual to run the rapp.

Or does `implementation child` need to be started as well?

[2014-07-01 07:14] jihoonl commented on #230
Could #187 address this issue?

[2014-07-02 00:27] stonier commented on #104
The logic problem is still there right?

[2014-07-02 00:28] stonier commented on #141
That's ascii output right?

[2014-07-02 00:28] stonier commented on #141
A dotgraph viewer would still be best, especially for helping other people understand. These are not difficult to copy/modify from other rqt plugins. So I'd like to keep this open till we have an rqt plugin for it.

[2014-07-02 00:38] stonier commented on #226
I started babbling here and then took a look at how I might modify `RappList.msg` and `Rapp.msg` and it's not so clear.

I think we need a whiteboard discussion for this one.

[2014-07-02 00:41] stonier commented on #230
Yes, merge any relevant information here into that.

[2014-07-02 05:46] jihoonl commented on #199
After discussion, We have agreeed to have `Teleop` and `VideoTeleop`. and Teleop rapp will start `joy` node for now. Then we will split JoyTeleop later when we see necessity.

[2014-07-04 02:50] jihoonl opened #247 "crashing rapp does not stop cleanly"
if this happens..

[code]

[2014-07-06 06:28] stonier commented on #247
Not sure what this is saying....

[2014-07-07 04:49] jihoonl commented on #247
How to reproduce
1. Rename chirp.bash to something else
2. Start  Chirp Rapp with QT Manager
3. It indicates rapp didn't get terminated cleanly and require to stop rapp manually.

[2014-07-08 04:52] jihoonl opened #249 "Documentation about rapp installation and remote indexer"
Need some documentation to use rapp installer and remote indexer.

@dirk-thomas, @bit-pirate  Could you provide or point to the right person?

[2014-07-08 05:12] jihoonl commented on #249
Related Issues : #189, #190, #191, #197

[2014-07-15 00:51] jihoonl commented on #249
@dirk-thomas @bit-pirate bump

I need these information soon for further development...

[2014-07-15 21:00] dirk-thomas commented on #249
I don't know about any further documentation beside:
- the discussion on the pull requests (referenced above),
- the API documentation (e.g. https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/rocon_app_utilities/src/rocon_app_utilities/indexer.py) in the code and
- the tests actually using the API (https://github.com/robotics-in-concert/rocon_app_platform/blob/hydro-devel/r

[2014-07-31 01:37] bit-pirate commented on #249
@jihoonl are you looking for something like a ROS tutorial on how to set up and use rapp indices as well as the auto-install function?

@jihoonl the rocon_app_utilities hasn't been released yet. Is there a schedule for this? Once we release it, we should make sure the existing API documentation is parsed correctly (Sphinx).

[2014-08-04 06:59] jihoonl commented on #249
Exactly. I need some starter's guideline how to use. Need information to start to make remote rapp repositories to collaborate with Cento.

`rocon_app_utilities` package is already released in indigo and document is parsed. http://docs.ros.org/indigo/api/rocon_app_utilities/html/

[2014-08-05 00:35] bit-pirate commented on #249
I'll try to put something together this week. @dirk-thomas once I have the first draft up on the wiki, could you do a review to make sure I got everything right?

[2014-08-06 01:19] jihoonl commented on #224
Teleop/Video Rapp has been merged with https://github.com/robotics-in-concert/rocon_app_platform/pull/250

[2014-08-06 01:19] #224 closed, assigned to nobody

[2014-08-06 06:21] jihoonl commented on #232
For the record,

All the rapp attributes except parent_name will get relative path after resolving #231, we have decided not to use <package>/<filename> based resource finder.

[2014-08-09 13:30] bit-pirate commented on #249
I have added tutorials for using the indexer and installer.
- http://wiki.ros.org/rocon_app_utilities/Tutorials/indigo/Create%20a%20Rapp%20Index
- http://wiki.ros.org/rocon_app_utilities/Tutorials/indigo/Install%20Rapps

@jihoonl and @dirk-thomas please review you them and post here what's missing or should be fixed.

[2014-08-11 08:29] bit-pirate opened #253 "Rapp index builder cannot locate all rapp resource files"
The rapp index building feature of the `rocon_app` tool has problems locating all required resource files. This might has to do something with the recent upgrade to using relative paths for rapp resources.

@jihoonl knows more details about this recent upgrade.

@dirk-thomas could you update the indexer?

[2014-08-11 08:32] bit-pirate commented on #249
Identified an issue with the index builder #253. Also need to update kobuki_apps to use relative paths for resources: https://github.com/yujinrobot/kobuki/issues/342

[2014-08-11 08:33] bit-pirate opened #254 "Document the rapp manager's new auto-instal feature"
Add a tutorial on the ROS wiki.

This is related to #249 .

[2014-08-11 17:20] dirk-thomas commented on #249
In the first tutorial (http://wiki.ros.org/rocon_app_utilities/Tutorials/indigo/Create%20a%20Rapp%20Index) the link to the next one is broken. Beside that it looks good to me.

[2014-08-12 01:09] bit-pirate commented on #249
Just fixed that. I would consider this issues as solved. @jihoonl please close it, if you agree.

[2014-08-12 03:53] jihoonl commented on #249
The doc looks good to me too. I will reopen if anything need to be updated.

[2014-08-12 03:53] #249 closed, assigned to dirk-thomas

[2014-08-12 04:33] jihoonl opened #255 "rocon_app list --uri not working."
[code]

[2014-08-12 04:43] jihoonl opened #256 "rocon_app indexing speed up"
The current rapp indexing is ridiculously slow. it took 28 secs to index [rocon_apps, kobuki_rapps, turtlebot_rapps].. We need to find a way to speed up.

[2014-08-12 05:15] jihoonl commented on #256
Indexing time was average 28~29 secs.
[cProfiler](https://docs.python.org/2/library/profile.html) using command

After investing the result [_get_standard_args](https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_utilities/src/rocon_app_utilities/rapp_loader.py#L165) took the most of time for indexing. (35 out of 44..)

Without get_standard_args, indexing took 6 secs..

[2014-08-12 06:48] jihoonl commented on #256
The problem was building a roslaunch configuration took enormous time while what it need is just top-level roslaunch args.

The [PR](https://github.com/robotics-in-concert/rocon_app_platform/pull/252) improved the logic to just parse root roslaunch XML format to get top-level args.
It reduced to 28secs to 2 secs.

[2014-08-12 07:00] jihoonl commented on #256
Resolved by #252

[2014-08-12 07:00] #256 closed, assigned to nobody

[2014-08-12 07:01] jihoonl commented on #231
Fixed by #252

[2014-08-12 07:01] #231 closed, assigned to nobody

[2014-08-13 06:12] jihoonl commented on #255
Well... I was confused with uri and compatibility... It works.

[2014-08-13 06:12] #255 closed, assigned to nobody

[2014-08-13 06:28] jihoonl commented on #185
https://github.com/robotics-in-concert/rocon_app_platform/commit/7fa9bad9f01ba3bfa8eb8da0d1ae0f19f7ceeb3f

[2014-08-13 06:28] #185 closed, assigned to jihoonl

[2014-08-13 08:03] jihoonl commented on #244
Current Format

[code]

After

[code]

[2014-08-14 07:20] jihoonl opened #258 "Synchronise indigo and hydro-devel"

[2014-08-14 07:30] jihoonl commented on #258
Done.

[2014-08-14 07:30] #258 closed, assigned to nobody

[2014-08-14 07:31] jihoonl commented on #232
All done!

[2014-08-14 07:31] #232 closed, assigned to stonier

[2014-08-14 07:31] jihoonl commented on #187
done by #248

[2014-08-14 07:31] #187 closed, assigned to nobody

[2014-08-14 07:32] jihoonl commented on #230
done by #248

[2014-08-14 07:32] #230 closed, assigned to nobody

[2014-08-18 01:10] jihoonl opened #259 "Add Optional arguements for rocon_app command line tool"
**rocon_app list**

[code]

**rocon_app index**

[code]

[2014-08-18 01:10] #259 closed, assigned to nobody

[2014-08-18 01:45] jihoonl commented on #253
I was trying to index [rocon_apps package](https://github.com/robotics-in-concert/rocon_app_platform/tree/indigo/rocon_apps) and found out it does not index resource files correctly.

It should have include icon, launch, parameter, and interface resource path. But it only contains .rapp file

[code]

[2014-08-18 01:47] jihoonl commented on #253
So I added more debug message on 'write_tarball` for introspection like in [this](https://github.com/robotics-in-concert/rocon_app_platform/blob/rapp_indexer_bugfix/rocon_app_utilities/src/rocon_app_utilities/indexer.py#L273-L310) in  rapp_indexer_bugfix branch.

And this is output

[code]

[2014-08-18 01:53] jihoonl commented on #253
It started to happen after upgrading rapp indexer to use relative path based resource finder by https://github.com/robotics-in-concert/rocon_app_platform/pull/252

[2014-08-18 03:49] jihoonl commented on #253
Fixed by #260

[2014-08-18 03:49] #253 closed, assigned to nobody

[2014-08-18 04:32] jihoonl commented on #244
implemented by #257

[2014-08-18 04:32] #244 closed, assigned to nobody

[2014-10-20 05:39] jihoonl opened #261 "add waypoint_navigation.rapp in package.xml"
as follow-up of https://github.com/robotics-in-concert/rocon_app_platform/commit/6eabde277ee00e269d4c8dc4ee7cce241f491ab3

[2014-10-20 05:39] jihoonl commented on #261
https://github.com/robotics-in-concert/rocon_app_platform/commit/e0a87622d9a63f2a2a12eef78d4c08b5730551e6

[2014-10-20 05:39] #261 closed, assigned to nobody

[2014-10-20 11:13] stonier opened #262 "Depending on yujin_ocs in rocon_apps"
There has been a dependency introduced in rocon_apps on yujin_ocs (velocity smoother) via the robot teleop app.

While it does make sense to have the velocity smoother for a teleop app, this repo should not have a dependency on yujin_ocs. Perhaps this 'implementation' should be moved elsewhere and just a very simple implementation used as the default (for tutorials perhaps?).

[2014-10-23 07:18] jihoonl commented on #262
How about `yocs_rapps` in yujin_ocs package? to keep the sharable implementation rapps.

[2014-10-24 00:01] stonier commented on #262
+1

[2014-10-29 03:19] bit-pirate commented on #262
+1

[2014-11-14 06:35] #262 closed, assigned to jihoonl

[2014-11-18 06:40] jihoonl commented on #222
https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/launch/includes/_capabilities.xml#L6

describes why debug arg is missed.

[2014-11-18 06:40] #222 closed, assigned to stonier

[2014-11-18 06:43] jihoonl commented on #163
https://github.com/robotics-in-concert/rocon_app_platform/commit/dda2d980b27d0461b4923cc81a7e3073a9e8375a provides disable argument.

[2014-11-18 06:43] #163 closed, assigned to bit-pirate

[2014-12-16 01:30] jihoonl opened #264 "configurable volume for chirp"

[2014-12-16 01:31] #264 closed, assigned to nobody

[2014-12-18 08:09] jihoonl opened #265 "improve remapping rule logic"
It should ignore unnecessary remapping rule(from == to)

[2014-12-18 08:10] #265 closed, assigned to nobody

[2014-12-30 01:38] jihoonl opened #266 "Env-hook based configuration"
There are lots of args in `standalone.launch` and `concert_client.launch` to utilise rapp manager.  Here is a proposal to create configurable env-hooks. These are the list of configurations which I frequently customise to use in waiterbot and turtlebot.

**Proposed envs**
- ROBOT_NAME
- ROBOT_DESCRIPTION
- ROBOT_TYPE
- RAPP_PACKAGE_WHITELIST
- RAPP_PACKAGE_BLACKLIST
- ROBOT_UNIQUE_NAME
- CONCERT_W

[2014-12-30 01:38] jihoonl opened #267 "Env-hook based configuration"
There are lots of args in [standalone.launch](https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/launch/standalone.launch) and [concert_client.launch](https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/launch/concert_client.launch) to utilise rapp manager.  Here is a proposal to create configurable env-hooks. These are the l

[2014-12-31 00:15] jihoonl commented on #266
duplicated with #267

[2014-12-31 00:15] #266 closed, assigned to nobody

[2014-12-31 03:57] jihoonl commented on #267
@stonier, @mikeferguson, @tfoote

![untitled drawing](https://cloud.githubusercontent.com/assets/1556736/5584814/3a5a057c-90dc-11e4-99c5-813376a76a24.png)

I was expecting this kind of environment configuration to tune the common env variables for turtlebot. But actually it has potential conflicts and gave me these questions.
- What if a user wants to keep two robot implmentation(pr2_bringup, and

[2014-12-31 04:25] tfoote commented on #267
Can you clarify what conflicts you're getting? Are you trying to launch 2 robots at once? You should be able to set the environment variables within a scope.

[2014-12-31 04:50] jihoonl commented on #267
It wouldn't have any problem if all robots are running in different workspace. The conflict arises when it comes to debs.

![untitled drawing 2](https://cloud.githubusercontent.com/assets/1556736/5585574/195b53b8-90f4-11e4-8ff9-b3cd19f84c9e.png)

Assumes that user uses rocon_app_manager, turtlebot_bringup, and pr2_bringup(or another robot) from debs. Then, the default value for ROBOT_NAME and ROBO

[2014-12-31 05:11] tfoote commented on #267
Yes, you can't be exporting these values in env-hooks of a package. Exported values must not conflict and be used as a discovery mechanism not a configuration mechanism.

you should have an entry point for each "robot" which sets the appropriate environmet varialbes for the desired robot.

[2014-12-31 16:13] stonier commented on #267
I rather like exporting variables via env-hooks. It's a great way of getting default settings into your workspace without requiring...anything extra. This requires the assumption they be unique though....hence the prefixing.

[2015-01-05 08:53] jihoonl commented on #267
@mikeferguson any thoughts?

[2015-01-08 00:44] jihoonl opened #268 "[rocon_app_manager ]add rocon_interactions as run_depend"
used in

https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/launch/includes/_interactions.xml#L10

[2015-01-08 00:44] #268 closed

[2015-01-08 06:46] jihoonl opened #269 "rocon_app_utilities.DependencyChecker uses different os detect process"
While investigating https://github.com/turtlebot/turtlebot/issues/186, I have found out that there are difference between rocon_app_manager and rocon_app_utilities.DependencyChecker.

* rocon_app_manager : https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L92

* rocon_app_utilities.DependencyChecker : https://github.com/ro

[2015-01-08 07:00] jihoonl commented on #269
Dependency Checker uses a custom way to lookup os code name and version. It is suppoed to use rospkg.os_detect

Ref : [rosdep2.get_rule_for_platform](https://github.com/ros-infrastructure/rosdep/blob/master/src/rosdep2/lookup.py#L86)

[2015-01-08 07:24] #269 closed

[2015-01-15 04:48] jihoonl opened #271 "[rapp_manager] handling unsupported OS"
While following up https://github.com/turtlebot/turtlebot/issues/186#issuecomment-69966982,

We have found that there may be unsupported OS type in ROS(or undetectable by [rospkg.OsDetect](https://github.com/ros-infrastructure/rospkg/blob/master/src/rospkg/os_detect.py#L76)).

In this case, rapp manager crashes in [rappmanager._set_platform_info](https://github.com/robotics-in-concert/rocon_app_pl

[2015-03-04 05:21] jihoonl opened #274 "remove warning for no preferred rapp selection."
These warnings are annoying..

[code]

[2015-03-04 11:12] stonier commented on #274
Warnings should still be there. But only if there 8s more than 1 implementation.

[2015-03-06 03:29] bit-pirate commented on #274
+1

[2015-03-10 06:58] jihoonl commented on #274
Ok warn if only there is more than 1 impl.

[2015-03-16 05:55] jihoonl opened #275 "set moo_chirp as default chirp"
No more meow..

Address https://github.com/turtlebot/turtlebot/issues/197

[2015-03-16 05:56] #275 closed

[2015-03-16 09:17] stonier commented on #275
Shouldn't this be set as preferred via the turtlebot? App managers by default do not necessarily have to load rocon_apps.

[2015-03-16 16:45] stonier opened #276 "multimaster.launch is broken"
[code]

[2015-03-16 16:49] stonier opened #277 "concert_client.launch doesn't launch the gateway properly"
Getting no response on `/gateway/gateway_info` when launching `rocon_app_platform/concert_client.launch`.

[2015-03-16 16:59] #276 closed

[2015-03-16 17:27] stonier commented on #277
Ach, my bad...forgot it needs a hub.

[2015-03-17 00:12] stonier commented on #277
Reopening...this should not need a hub to get local gateway info.

[2015-03-17 00:47] stonier commented on #277
Fixed in https://github.com/robotics-in-concert/rocon_multimaster/commit/88af60e0bce720ef23fc7f8aaa57333f3a694720.

[2015-03-17 00:47] #277 closed

[2015-03-17 03:15] stonier opened #278 "Rapp package blacklist doesn't make sense"
I thought this was originally a rapp blacklist, so you could blacklist individual rapps from inside a package that was loaded via the whitelist.

Right now it doesn't make sense and as a result its completely redundant/useless. The only time you'd have it in the blacklist is when you have it in the whitelist. In which case you should just take it out of both lists.

[2015-03-17 04:42] jihoonl commented on #278
I thought it was to provide two ways to use rapps.

 whitelisted rapp package or All rapp packages except blacklisted rapp packages.

[2015-03-17 04:48] stonier commented on #278
Aight...I really am having a slow day :/

Been ages since I used that functionality. I'm sure I've implemented something like the above somewhere though.

[2015-03-17 04:49] #278 closed

[2015-03-17 05:57] jihoonl opened #279 "clean up rapp manager launcher"
* remove unnecessary default file
* add arg pointing to preferred configuration yaml file.

[2015-03-17 07:47] #274 closed

[2015-03-17 08:10] #279 closed

[2015-03-17 08:14] stonier commented on #274
:+1:

[2015-04-10 09:05] jihoonl opened #281 "roswiki documentation"
How to roconize a robot.
http://wiki.ros.org/rocon_app_manager/Tutorials/indigo

* [x] : How to make your robot rappable
* [x] : Create a rapp for the robot
* [x] : Start rapp with Rocon QT App manager
* [x] : Create interactions for the robot
* [x] : Interact with your robot via remocon

[2015-04-14 09:08] mistoll opened #282 "Missing launch files"
In paired.concert two launch files are mentioned
 * paired_public.launch
 * paired_private.launch

those do not exist in the package.

[2015-04-15 10:03] jihoonl commented on #282
What version are you using? and where dose paired.concert come from?

[2015-04-15 10:07] mistoll commented on #282
Im using the indigo branch (latest)
paired.concert is here:
https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/concert/paired.concert

[2015-04-16 06:10] jihoonl commented on #282
I see thanks @mistoll. It is legacy code from hydro. I am removing it now

[2015-04-16 06:10] #282 closed

[2015-04-24 08:22] jihoonl opened #283 "add waypoint_nav meta rapp"

[2015-04-24 08:22] #283 closed

[2015-04-28 07:14] jihoonl opened #284 "add rocon_app_utilities as run_depend in meta pkg"
It should be run_depend in rocon_app_platform.

[2015-04-28 07:41] #284 closed

[2015-05-06 05:11] jihoonl opened #285 "webserver address configuration for rocon app manager"
need arg to configure `webserver_address` in rocon_interaactions.

[2015-05-06 05:12] #285 closed

[2015-05-06 15:47] stonier opened #286 "Publish runtime interface and parameters in the status"
Need this for introspecting what should be exposed for a running rapp.

13fdcfc9

[2015-05-06 15:47] #286 closed

[2015-05-27 00:34] jihoonl opened #290 "add make_a_map meta rapp"
make a map can be utilised with other robot types.

[2015-05-27 00:35] #290 closed

[2015-06-03 04:31] jihoonl commented on #281
Done.

[2015-06-03 04:31] #281 closed

[2015-06-03 04:33] jihoonl opened #293 "add text_to_speech rapp"

[2015-06-03 04:38] jihoonl opened #294 "add typing_to_string script"
`typing_to_string`  is a simple script that publishes std_msgs/String message with keyboard input.

[2015-06-03 04:39] #294 closed

[2015-06-03 04:43] #293 closed

[2015-06-05 11:03] jihoonl opened #295 "start_rapp fail when gateway_name is none"
When rapp is starting with standalone mode(or pairing) , gateway name is none.

[2015-06-05 11:03] #295 closed

[2015-06-10 07:17] dwlee opened #296 "error while rapp stopping in slow network"
[code]

[2015-06-10 07:18] dwlee opened #297 "error while start rapp in slow network"
[code]

[2015-06-10 09:03] jihoonl commented on #296
this happens when hub get disappeared while stopping rapp. It was test >500ms latency. It would happen very rarely.

[2015-06-10 09:04] jihoonl commented on #297
this happens when hub get disappeared while starting rapp.  It requires update in rapp manager and scheduler both to fix the problem.

It was test >500ms latency. It would happen very rarely.

[2015-06-15 04:55] jihoonl commented on #297
[here](https://github.com/robotics-in-concert/rocon_app_platform/blob/indigo/rocon_app_manager/src/rocon_app_manager/rapp_manager.py#L601-L606) does not handle the flip failure case.

It should stop rapp if it fails after a couple of flip attempts

[2015-06-15 05:25] jihoonl opened #298 "remove unnecessary print output"

[2015-06-15 05:26] #298 closed

[2015-06-15 07:44] jihoonl opened #299 "clean up flip_connections in start_app, stop app process"
It does not need to request gateway multiple times to flip all public interface.
Request gateway once to add/remove all flip rules

[2015-06-15 07:45] #299 closed

[2015-06-15 09:36] #297 closed

[2015-06-20 12:22] dhirajdhule opened #300 "rocon_app list command shows Mulitple rapps with same name error"
I had installed rocon from debs intitially, then I decided to install it from sources, so I removed all debs using

sudo apt-get purge ros-indigo-rocon-*
i also removed kobuki_rapps package using
sudo apt-get purge ros-indigo-kobuki-*

I installed rocon from sources as described in tutorial on rocon wiki page

when I am doing rocon_app list, I am getting an error of

Multiple packages found with t

[2015-06-21 18:30] dhirajdhule commented on #300
Got the problem...
I had indexed rapps when I had multiple rapps...which I am not sure how is possible( two packages with same name)

when I deleted files in ~/.ros/rocon/rapp/ it worked.

[2015-06-21 18:30] #300 closed

[2015-06-24 01:56] jihoonl commented on #300
Hm.. rapp directory is used only when you utilises rapp repository.

Did you try to use [rapp indexer](http://wiki.ros.org/rocon_app_utilities/Tutorials/indigo/Create%20a%20Rapp%20Index)?

[2015-08-14 01:26] stonier opened #302 "Localise app manager handles"
Create app manager handles in the local system (i.e. don't use with the concert).

This makes connection locally much easier via remaps rather than having to make expensive (to the master) find_xxx calls.

[2015-08-14 01:29] stonier opened #303 "Externalise invite functionality"
Drop this functionality from the app manager itself - it's job should be dedicated purely to the management of rapps.

[2015-08-14 01:30] stonier commented on #303
- Inherit the rapp manger to create a concert client?
- Move the functionality to the side, as in an extra node.

[2015-08-14 01:49] stonier commented on #141
The command line tool is good enough now - I updated the syntax and highlighting so it's much easier to read.

[2015-08-14 01:49] #141 closed

[2015-08-14 01:50] stonier commented on #146
Jihoon added this at some point so we can close :neckbeard:

[2015-08-14 01:50] #146 closed

[2015-08-14 01:52] stonier commented on #66
Closing this...follow up regarding concert handles is in #98.

[2015-08-14 01:52] #66 closed

[2015-08-14 01:54] stonier commented on #83
Switch to ROS 2.0 instead of putting this effort in - it's close now and we don't have immediate needs that aren't satisfied by dropping in some simple relays into the rapp.

[2015-08-14 01:54] #83 closed

[2015-08-14 01:56] #170 closed

[2015-08-14 02:19] stonier commented on #86
An example of this causing a problem is when a rapp crashes - the rapp manager doesn't know about it.

See also #247

[2015-08-14 02:20] stonier commented on #104
@jihoonl bump

[2015-08-14 02:45] stonier commented on #296
New design for gopher should overcome this, so moving to indigo legacy in case we have to rethink/revisit it.

[2015-08-14 02:48] stonier commented on #241
Dropping this as we are no longer supporting hydro.

[2015-08-14 02:48] #241 closed

[2015-08-14 02:49] stonier commented on #158
Command line functionality with syntax highlighting is enough for now.

[2015-08-14 02:49] #158 closed

[2015-08-14 02:50] stonier commented on #234
No updates for a long time, reopen if necessary, but not essential right now.

[2015-08-14 02:50] #234 closed

[2015-08-14 02:50] #199 closed

[2015-08-14 02:52] stonier commented on #212
Not going to support this in its current incarnation. We'll pick it up again and probably slightly differently in future incarnations.

[2015-08-14 02:52] #212 closed

[2015-08-14 02:53] stonier commented on #216
Dropping as it's not a priority right now....revisit this if it does become a priority in future.

[2015-08-14 02:53] #216 closed

[2015-08-14 02:55] stonier commented on #226
@jihoonl has implemented all of this - working well. Can even select the non-preferred child rapps from the rocon qt app manager.

[2015-08-14 02:55] #226 closed

[2015-08-14 03:00] stonier commented on #184
These are in. Whether they work or not is another question! Open new bug reports if later we find out they dont.

[2015-08-14 03:00] #184 closed

[2015-08-14 03:13] stonier commented on #165
Still not merged, but code is still lying around in [caps_start_stop_fix](https://github.com/robotics-in-concert/rocon_app_platform/tree/caps_start_stop_fix) branch should we need to push this in at some point.

[2015-08-14 03:15] stonier commented on #176
This doesn't point to the right line of code, nor makes much sense right now. Reopen if necessary.

[2015-08-14 03:15] #176 closed

[2015-08-14 03:18] stonier commented on #181
Will be a continuous process as we upgrade for gopher.

[2015-08-14 03:18] #181 closed

[2015-08-14 03:21] stonier commented on #164
Not critical.

Main purpose of using the slots was not for the real reason to use slots, but to identify to the dev what are the variables of the class. This is a problem in python since it lets you define them anywhere, even mid-function and this makes it easy to be sloppy about what parameters are currently valid and used.

I now do this by pushing for some conventions:
1. Use `cvar` and `ivar`

[2015-08-14 03:21] #164 closed

[2015-08-14 03:21] stonier commented on #36
Will start continously adding some tests as we revamp for gopher.

[2015-08-14 03:21] #36 closed

[2015-08-14 03:22] stonier commented on #64
Dropping this as something the rapp manager should support. This kind of things should be handled outside.

[2015-08-14 03:22] #64 closed

[2015-08-14 03:23] stonier commented on #247
Closing this one - the app lifecycle introspection issue can handle it from here.

[2015-08-14 03:23] #247 closed

[2015-08-14 03:24] stonier commented on #296
Not going to fix for indigo. Reopen this if it is it happens to become a major concern again.

[2015-08-14 03:24] #296 closed

[2015-08-14 03:35] stonier commented on #254
Not going to support this for indigo.

[2015-08-14 03:35] #254 closed

[2015-08-14 03:43] stonier commented on #98
As @bit-pirate mentioned, we use relays to make do here.

[2015-08-14 03:43] #98 closed

[2015-08-19 03:13] stonier commented on #303
Done in concert clients implementation of a rapp manager in #304.

[2015-08-19 03:13] #303 closed

[2015-08-19 03:13] stonier commented on #302
Done in standalone implementation of a rapp manager in #304.

[2015-08-19 03:13] #302 closed

[2015-08-19 03:17] stonier commented on #267
I've much reduced the arg list in the gopher branch...and we're quite fine with setting these via a constructed launcher outside. And it's there we have robot specific environment variables that get dragged in.

I'd rather keep these launchers clean with only one method for pulling in parameterisations - the ros args.

[2015-08-19 03:17] #267 closed

[2015-08-19 03:19] stonier commented on #86
It's possible the roslaunch methods have functionality for this - we use a terminating postexec hook in the remocons.

[2015-08-19 04:20] bit-pirate commented on #86
Direct link to the build status overview: http://www.ros.org/debbuild/indigo.html?q=gazebo_ros

[2015-08-25 08:56] stonier commented on #238
Dropping this as we won't implement in indigo.

[2015-08-25 08:56] #238 closed

[2015-09-09 02:35] jihoonl commented on #104
https://github.com/robotics-in-concert/rocon_app_platform/blob/develop/rocon_app_manager/src/rocon_app_manager/rapp.py#L168
and
https://github.com/robotics-in-concert/rocon_app_platform/blob/develop/rocon_app_manager/src/rocon_app_manager/utils.py#L106-L129

should have resolved most of chain remapping problems. The corner cases like chain of chain of chain of chains aren't tested though.

[2015-10-15 10:07] asmodehn opened #308 "[gopher] Flip rules for subscribers"
Added this for the automatic door integration to work by flipping subscribers from inside a rapp :
https://github.com/robotics-in-concert/rocon_app_platform/commit/f079f7858d7b206b3e22c164712e32f1948f3f16

Not sure if it is the best place to do it, and how the public.interface relate to that at the moment in the gopher branch...
@stonier : In need of some review...

[2015-10-19 01:43] stonier commented on #308
Ok...looks like I threw that in there to get started with publishers because that's all we were using.

Now is the time to add subscribers, services, action clients and action servers.

[2015-10-19 01:43] stonier commented on #308
Just adding subscribers, and just for the concert namespace (not the app namespace) isn't sufficient.

[2015-10-22 15:49] #308 closed

[2016-06-27 20:14] tfoote opened #313 "rocon app manager crashing"
Running turtlebot_bringup minimal.launch on jessie.
[code]

This line appears to be the problem: https://github.com/robotics-in-concert/rocon_app_platform/blob/gopher-devel/rocon_app_manager/src/rocon_app_manager/ros_parameters.py#L76

[2016-11-01 16:16] SouLeo commented on #313
I have the same error? Did you find a solution?

[2016-11-08 08:25] jcpince commented on #313
The problem is that "preferred = rospy.get_param('~preferred', [])" returns a list instead of a dictionary.
Given that it returns a list containing 1 dictionary, the parameter server is started but the interface between it and our rocon app is not as expected; it should return a dictionary storing dictionaries as values...

[2017-08-24 20:38] vitorhirozawa commented on #313
How can I solve this? I am new in python.

[2017-08-28 15:31] jcpince commented on #313
Given that I get a dictionary when running "roslaunch rocon_app_manager standalone.launch", I assume that you might not use preferred_default.yaml and then fall back on the default value when running "rospy.get_param('~preferred', [])" which returns a list... Changing the line into rospy.get_param('~preferred', {}) should be ok.

[2017-08-28 18:59] vitorhirozawa commented on #313
Hi @jcpince, thank you for your response.

I already tried this modification but I got the same error message.

I use ROS Kinetic and "preferred_default.yaml" is not used.
I try "roslaunch turtlebot_bringup concert_minimal.launch" and I have:
...
Traceback (most recent call last):
  File "/opt/ros/kinetic/lib/rocon_app_manager/standalone.py", line 19, in <module>
    standalone_rapp_manager = roco

[2017-08-28 22:08] jcpince commented on #313
I'm using ros kinetic as well (I'm testing with the ubuntu packages).

I added a log this morning right before the for loop:
        self.preferred = {}
        print("JCDBG: ", preferred)
        for pkg, preferred_rapps_dict in preferred.iteritems():
...

And I got the following log:
./ad2b5eb0-8c02-11e7-8439-b88a60b1a34b/rocon-app_manager-2-stdout.log:('JCDBG: ', {'rocon_apps': {'chirp': 'rocon

[2017-08-29 20:29] vitorhirozawa commented on #313
Hi @jcpince, thanks for your help.

I added to "ros_parameters.py":
...
self.preferred = {}
print("OI GATINHAs: ", preferred)
for pkg, preferred_rapps_dict in preferred.iteritems():
...

I got the same error message and the logfile "rocon-app_manager-9-stdout.log" has this content:
('OI GATINHAs: ', [{'rocon_apps/chirp': 'rocon_apps/moo_chirp'}])

My "/opt/ros/kinetic/share/rocon_app_manager/param

[2017-08-29 20:44] jcpince commented on #313
You should have spaces starting all the lines after preferred...

I think that your yaml file syntax is not correct...

Something like:

[code]

[2017-08-29 21:09] vitorhirozawa commented on #313
Sorry I edited the yaml code here on github because I clicked on "Preview" and the formatting was strange.

Here is the code without edit:
[code]

[2017-08-29 22:00] jcpince commented on #313
At some point I was able to reproduce your issue but after reinstalling the turtlebot_bringup packages and quickly setting manually the environment variables.

So, there is a bug but I think that you should go carefully through the tutorial to get it working fine. Fixing this bug will likely lead you to another issue if your environment is not set properly...

[2017-09-15 21:28] fowie commented on #313
I'm seeing the same issue.  Ubuntu 16.04.  Installed ROS from debs and trying to install turtlebot from source a la http://wiki.ros.org/turtlebot/Tutorials/indigo/Turtlebot%20Installation section 1.3 but changing "indigo" to "kinect".  Everything builds just fine but I still see the same rror on line 76 of ros_parameters.py and my yaml code looks identical to vitorhirozawa.  I've tried catkin_clea